[2012-09-02 17:31] jmealo opened #28 "Feature Improvement & Contribution: Improved Data"
Kudos on porting a great Perl module.

I have a suggestion which I could help implement.

Since the United States is a melting pot, may I suggest we use the census list of last names?

It contains every last name that occurs more than 100 times ordered by how commonly it occurs.

The same is available for first names separated my male and female.

It would be trivial to generate random data that i

[2013-05-20 17:35] ajkochanowicz opened #57 "Add Pangrams to library?"
This is great for testing webfonts.

http://en.wikipedia.org/wiki/List_of_pangrams

How about supporting pangrams? (e.g. "The quick brown fox jumps over the lazy dog" ) :)

[2014-02-17 17:40] Offirmo opened #68 "Coherency of generated data"
using `var randomCard = Faker.Helpers.createCard();`, I get

[code]

Since all generated data is taken from a pool of parts, wouldn't it be nice to have moderately coherent data, like 'Raynor@daisy.ca' for Idell Raynor ?

[2014-08-18 10:14] DjebbZ opened #110 "faker.Date.past(1) returns the same date"
Hi,

While using with Faker, I noticed the `faker.Date.past(1)` always returned the same date. I think the implementation lacks the number of hours in a day in the formula (`* 24`).

Then I read the test for `past()` and understood nothing. At https://github.com/Marak/Faker.js/blob/v1.1.0/test/date.unit.js#L21, the test says that a past date should be before the refDate but after the current date

[2014-09-22 12:34] Marak opened #125 "Incremental browser builds for locale data"
Currently gulp will concat all locale data into a single pack for the browser.

In production, it might not be acceptable to load the ( large ) bundle containing all locale data.

The build script should be able to create packs based on locale settings that only bundle the requested locale data.

[2014-09-22 19:28] kynax opened #126 "Invalid zip codes for Canada"
Canada uses postal codes instead of Zip codes.
These should be in the format Letter Number Letter Space Number Letter Number (A1A 1A1).
Currently, US zip codes are generated for Canadian addresses.

See http://en.wikipedia.org/wiki/Postal_codes_in_Canada for more information.

If possible, the postal code should also match the generated city.
The Canada Post website lets you find the postal code f

[2014-10-27 18:05] phated opened #134 "Country Code"
It looks like there are country codes in the `en.js` locales, but they are never used anywhere and there is no method to get one.  Is there a chance we could get a `faker.address.countryCode` method?

[2014-11-12 09:00] unindented opened #139 "Functions past, future and recent not very random"
See my pull request: https://github.com/Marak/faker.js/pull/138

[2014-11-17 21:53] roguespambot opened #142 "TypeError appearing in faker.internet.email"
I just started getting this error today. It's never appeared for me before.

<pre><code>
2014-11-17T21:42:28.576187+00:00 app[web.1]: TypeError: Cannot read property 'male_first_name' of undefined
2014-11-17T21:42:28.576195+00:00 app[web.1]:     at Object._name.firstName (/app/node_modules/faker/lib/name.js:6:50)
2014-11-17T21:42:28.576196+00:00 app[web.1]:     at Object.internet.userName (/app/no

[2014-11-19 16:34] FLamparski opened #143 "faker.internet.color not producing valid colour literals"
Often, calling `faker.internet.color()` will produce strings that are less than 7 characters. It should consistently produce colour literals of the form `#RRGGBB`.

Reproducible in master:

[code]

In this one, every other call produces an invalid colour code.

[2014-12-09 16:55] JKillian opened #148 "Add Job Title/Position Generator"
Feature Request: Add a generator that generates job titles/positions. A few examples off the top of my head:

Software Engineer
Financial Consultant
Administrative Assistant
etc.

 It would be a good fit for the 'company' category I think.

[2014-12-23 02:11] chasm opened #153 "Doesn't work in strict mode?"
[code]

[2015-01-02 09:59] tepez opened #155 "Design of the locales"
I don't understand how the locale files are used.
For example, a `name` definition might be
[code]
When I saw this I expected that it would be used by sampling a template form the 6 options and recursively populate its parts. The parts might also be templates, e.g.:
[code]

This seems very logical and it allows greater flexibility for other locales. For example, in Israel we don't have name suffix

[2015-01-11 15:14] #155 closed

[2015-01-13 00:21] michaelmior opened #156 "precision in random.number"
What is the meaning of `options.precision`? It's not used or documented anywhere. I'm also wondering why there's a custom RNG implementation used here instead of a simple call to `Math.random()`.

[2015-01-14 03:29] jasonrhodes commented on #134
What happened with this?

[2015-01-19 11:58] rubenstolk opened #159 "faker.definitions.lorem.words gets affected by calling things like faker.lorem.sentence"
After calling faker.lorem.sentence a couple of 1000 times, the words array almost only contains undefineds

[2015-01-19 15:06] komfushee opened #161 "Invalid Zip codes for French"
There is an issue with the French Zip codes, sometimes it returns a US zip-code ( like 73685-9069).

The French codes are only formated on 5 digits: https://en.wikipedia.org/wiki/Postal_codes_in_France

[2015-01-19 15:46] Marak commented on #161
Good catch! Will accept pull request to fix this.

[2015-01-20 13:54] komfushee commented on #161
In fact, I tried again with your demo, and there are some other values that did not match compared to the locales/fr.js : no street_prefix like "rue, avenue, place", and wrong values for : "City, State Zip".

[2015-01-20 17:26] braco opened #162 "internet.url?"
Is there a reason internet.url has been omitted? Would be handy.

[2015-01-20 22:11] Marak commented on #162
Will accept a pull request for this feature.

[2015-01-20 22:13] Marak commented on #161
The online demo is a web app built using Faker, it's not going to give you a 1:1 experience of the entire library. Take the time to look into it and you will understand.

[2015-01-20 22:14] Marak commented on #161
Will accept pull request to fix. Thanks.

[2015-01-29 18:05] kevinburke opened #167 "require('faker') is very slow, takes about 60ms"
Here's a sample file which reproduces the issue on my machine; I'm running faker 2.0.0

[code]

What is going on that takes Faker so long to load? When your tests take less than 1ms each to execute, it's odd to see a 60ms slowdown.

[2015-01-29 18:09] kevinburke commented on #167
Could there be a workaround/ a way to load less data on system start?

[2015-01-29 23:12] Marak commented on #167
Related Issue #125

[2015-02-02 11:10] gagle commented on #162
Agreed, hardcode example.com

[2015-02-02 11:14] gagle opened #168 "Add timezone offset"
http://en.wikipedia.org/wiki/List_of_UTC_time_offsets

Range from -720 to 840. In minutes.

[2015-02-04 14:50] awinogradov opened #169 "generate card numbers in finance module"
You can use [gist](https://gist.github.com/B-Con/4988902) for this. Maybe if i find some time i do this?

[2015-02-04 15:18] Marak commented on #169
Sounds goods

[2015-02-05 00:06] geoguide opened #170 "Can't find documentation?"
Maybe I'm just being oblivious, but I can not find documentation for faker.js I'm looking for how to use some of the non-obvious methods. For instance a method to give me one of a number of values in an array. Randomize? Or does that just mix it up? Sorry if I'm just missing it, but if it doesn't exist perhaps I could help write it.

Thanks.

[2015-02-08 06:38] FotoVerite commented on #169
Sounds good. I'm curious why you feel it fits best in the finance module?

[2015-02-08 06:40] FotoVerite commented on #159
This looks good to me, is there anyway to test it fixes the issue listed above Code is way cleaner regardless and more understandable..

[2015-02-08 09:48] verybigman commented on #169
Because card is on of many payments methods and contain human finance information. @FotoVerite do you think otherwise?

[2015-02-09 18:58] dmamills commented on #170
To get a random element from an array with faker you can the function `randomize` which is just an alias for `array_element`.

[code]

[2015-02-10 21:56] serv opened #171 "Add options to the format of internet.userName()"
It would be nice if we allowed passing options to `userName()` that would allow us to generate usernames that just uses `_` or `-` or `.` instead of randomly cycling through all formats.

[2015-02-18 19:12] BryanDonovan opened #175 "Shuffle sometimes injects undefined into array"
This test fails in helpers.unit.js:

[code]
It sometimes returns an array with an `undefined` element, like: `[ 'b', 'a', undefined, 'c' ]`.

[2015-02-19 05:56] rubenstolk commented on #175
@BryanDonovan do you mind adding your test to this PR, so we can get it merged:

https://github.com/Marak/faker.js/pull/160

I really don't understand why this PR is still open and why nobody faced this issue before...

[2015-02-19 05:58] rubenstolk commented on #175
Issue is related to https://github.com/Marak/faker.js/issues/159

[2015-02-19 07:34] alanshaw opened #176 "Faker.random.boolean()"
I often need this but end up having to write `Faker.random.array_element([true, false])`. Would you welcome a PR?

[2015-02-19 17:37] BryanDonovan commented on #175
Sure, I'll add it.

On a side note, it's a shame that running `make` fails so badly now.  Sigh.

[2015-03-09 17:33] marnen opened #179 "Can't require as Node module"
I've got Faker 2.1.2 installed in `node_modules` and in my `package.json` file under `devDependencies`. Yet when I do `require('faker')`, it says `Cannot find module 'faker'`. All other dependencies can be `require`d as expected. Help?

I'm using npm 2.6.1 on Mac OS X 10.10.

[2015-03-16 18:01] jlas commented on #179
Does `require('Faker')` work?

[2015-03-17 03:00] TheSharpieOne opened #183 "`bs_noun` defined twice in sk.js"
https://github.com/Marak/faker.js/blob/master/lib/locales/sk.js#L2217 and https://github.com/Marak/faker.js/blob/master/lib/locales/sk.js#L2284

Duplicate data property in object literal not allowed in strict mode

[2015-03-17 12:56] TheSharpieOne opened #185 "Invalid random number test spec"
for the spec "returns a random number given a maximum value as Object" a value of `10` is valid, but will fail the test. https://github.com/Marak/faker.js/blob/master/test/random.unit.js#L20.

The assert should be checking for `<=` as it does in the other tests.

[2015-03-21 05:43] levithomason opened #189 "RESTful API?"
What do you think about a REST API?  I can imagine something akin to http://unsplash.it or http://placehold.it for images.  http://faker.it happens to be available.  A simple heroku app could achieve this.  Sounds lie a fun and useful build.

Let me know if you're interested, or especially if this already exists :)

Thanks, love your library.

[2015-03-24 09:24] Denich commented on #159
+1 Faced

[2015-03-24 09:47] rubenstolk commented on #159
Why is this repository so badly maintained. This is a severe bug...

[2015-03-25 08:37] anthonyringoet commented on #189
Reminds me of http://reqr.es/

[2015-03-25 15:06] levithomason commented on #189
Nice, yep.

[2015-03-30 13:32] evilebottnawi opened #190 "generate fake data with html?"
What do you think about?

[2015-04-01 20:28] kevinburkeshyp commented on #125
Any update/workaround here?

[2015-04-03 01:59] mromanoff opened #192 "create fake ID or GUID?"
it would be nice to have a fake GUID too.

[2015-04-03 02:25] snipesjr commented on #192
Like the uuid function in the random module or something different?

[2015-04-03 02:39] mromanoff commented on #192
i this uuid will do for me. but i had no clue it is exists. please update documents :-)

[2015-04-08 04:31] arnold-almeida commented on #68
Would also be good if we the card generated indicates if the person is a male or female

[2015-04-08 08:13] alvaropinot commented on #189
Will not really be the same as http://reqr.es. I would be glad to help make it out :D

[2015-04-08 23:24] nloyola commented on #159
+1
Please fix.

[2015-04-09 17:56] Marak commented on #192
Pull request will be accepted to update documentation.

[2015-04-09 18:01] Marak commented on #190
Sounds good.

If you have a pull request for this functionality, feel free to open it.

[2015-04-09 18:01] #190 closed

[2015-04-09 18:05] Marak commented on #189
Sounds good.

If you put something together, it would always be nice to see commits come back to faker.js project or links to the open-source repository.

Let me know!

[2015-04-09 18:05] #189 closed

[2015-04-09 18:11] Marak commented on #179
Sounds like an environment issue?

Try installing the latest version of `npm` and or running `npm cache clean`?

The project should be requirable.

[2015-04-09 18:14] Marak commented on #176
Sounds good!

Will accept pull request for this functionality.

[2015-04-09 18:17] Marak commented on #171
Sounds good!

Will accept pull request for this functionality.

[2015-04-09 18:19] Marak commented on #170
@geoguide -

It would be nice to have better documentation for the project.

If you have any suggestions or updates please put them together in a pull request. We will accept improvements to documentation.

Thanks!

[2015-04-09 18:20] Marak commented on #169
@verybigman - Any updates on a pull request for this?

[2015-04-09 18:26] Marak commented on #168
Sounds good!

Will accept a pull request for this functionality.

[2015-04-09 19:14] verybigman commented on #169
I return to this issue in the next week, man!:)
Чт, 9 апр. 2015 г. в 21:20, Marak <notifications@github.com>:

[2015-04-13 23:27] serv commented on #171
I'll work on this.

I think creating new methods `userNameUnderscore()`, `userNameDot()` and `userNameHyphen()` are better than updating the current `userName()` method.

It's way easier for people to understand and use the methods, although these methods look repetitive.

[2015-04-14 10:03] cmacdonnacha opened #196 "Remove old versions from bower"
There are old versions of faker availbable via bower:

1.) bower install faker --save-dev = 0.0.2
2.) bower install Faker --save-dev = 2.1.2

The only difference is the capital 'F' which will certainly confuse people.

[2015-04-28 12:03] chenweiyj opened #197 "How to fake mongodb ObjectId data?"
I am testing my restful apis which use mongodb and express.js. I want to generate some data for my test database in the before hook. However, I cannot find how to generate fake data for ObjectId reference field in the mongodb document.

Or is there any other best practice to test restful apis? Thank you.

[2015-05-05 14:26] tkoomzaaskz commented on #196
The problem is that these are different projects:
 * `faker` is https://github.com/maksimr/faker - it's a different project. It's a shame, that it consumed the lowercase `faker`
 * `Faker` is this project
 * `facker` is an alias for `Faker` - **this could be removed**
 * `facker.js` - same as above, **it could be removed**

[2015-05-05 14:33] ducin opened #199 "extending faker with custom generators"
I'm using faker.js and I started to need my custom generators that would reuse original faker generators. Does faker provide such feature? I know I can assign custom attribute functions to pre-loaded faker object, but I'm not sure whether it's the best solution (e.g. not sure whether it's gonna work with locales and other features).

I was thinking of sth like [_.mixin](http://underscorejs.org/#mi

[2015-05-05 14:41] tkoomzaaskz commented on #170
I'd definitely start with replacing the great one-liner of `<ul><li>...</li></ul>` in Readme.md with markdown list syntax. Adding new generators shoudl include updating the docs.

And +1 for @dmamills - I agree, that the docs could be better.

Anyway, I see this library extremely useful, but the speed of development / accepting PRs is rather slow. @Marak do you consider involving new people to acc

[2015-05-05 14:47] tkoomzaaskz commented on #197
From what I can see, [mongoDB:ObjectId](http://docs.mongodb.org/manual/reference/object-id/) is a 12-byte BSON type, constructed using:

a 4-byte value representing the seconds since the Unix epoch,
a 3-byte machine identifier,
a 2-byte process id, and
a 3-byte counter, starting with a random value.

The `ObjectId` has its own logic, which would need a little bit of time to implement, but if you w

[2015-05-05 16:19] alanshaw commented on #176
Weirdness, not sure why that commit didn't make it into the PR - https://github.com/Marak/faker.js/compare/master...alanshaw:random-boolean

[2015-05-05 16:49] tkoomzaaskz commented on #176
Maybe it's because travis has failed there: https://travis-ci.org/Marak/faker.js/jobs/57912682 ?

[2015-05-05 16:53] tkoomzaaskz commented on #199
Update:

chance.js, a similar library, already has such functionality: https://github.com/victorquinn/chancejs/issues/178

[2015-05-06 14:16] dmamills commented on #170
Improving the docs would be awesome!

I agree with @tkoomzaaskz. I use this library for almost all of my javascript projects. I'd love to be able to help support this project if you'd be open to letting contributors help keep things moving along a bit faster. I know I'd be completely respectful to any visions or guidelines you have for this library.

[2015-05-06 14:18] tkoomzaaskz commented on #170
So it's already two of us :beers:

[2015-05-06 14:32] Marak commented on #170
I'm trying my best to keep up with the contributions and make several stable releases per year.

It's hard for me because I haven't been getting any revenues for sometime. I have no money. As much as I'd love to spend a few hours a week to get faster releases out, at the time I literally can't afford to do it.

The best way to keep the project moving is to help answer incoming github issues, revie

[2015-05-08 09:34] tkoomzaaskz commented on #170
@Marak, @FotoVerite: The community appreciates creating and maintaining faker.js, as you can see with the number of stars of the github repository. However, I think you can't *expect people to pay you for doing open source*, this is not the idea. Some developers here offer PRs that are awaiting verification long time. As a result, it discourages others from contributing and eventually the project

[2015-05-08 09:46] Marak commented on #170
@tkoomzaaskz -

Thanks for your input. I will continue to perform release cycles as best I can.

If you want to have more influence into what happens with the project you should first consider contributing more before dictating how you think things should be. If you aren't happy with the speed of the releases, you can prepare the next release yourself, starting right now.

If you can prove you can

[2015-05-08 09:57] Marak commented on #170
@tkoomzaaskz - A good start for you would be making the improvements to the documentation you already suggested earlier in this thread.

[2015-05-08 10:07] Marak commented on #199
This can be done with a few lines of JavaScript, it's not really something specific to faker.

If you want to add a mixin connivence method to the API with a pull request, I will probably merge it.

[2015-05-08 10:09] Marak commented on #196
I don't use Bower in production and I'm unsure the requirements for publishing / unpublishing.

The package manifest for bower is found here: https://github.com/Marak/faker.js/blob/master/bower.json

If you find any accounts with Bower linked to my email or pubkey, let me know and I can transfer / add additional owners.

- Marak

[2015-05-08 10:35] tkoomzaaskz commented on #170
Ok, I'll use master branch for that. Do you use parallel branches for managing releases?

[2015-05-08 10:43] Marak commented on #170
The best way to do it is create a fork with a new branch called "2.1.3".

From here we can merge into master.

On Fri, May 8, 2015 at 12:35 PM, Tomasz Ducin <notifications@github.com>
wrote:

[2015-05-08 11:09] Marak commented on #170
@tkoomzaaskz - I added you as a contributor to the faker.js project on Github.

You can now work in a new branch for the release on the main repo.

Please take care in managing issues and pull requests. Stay out of the master branch for the time.

Good luck and thanks!

- Marak

[2015-05-08 13:12] dmamills commented on #170
+1 Thanks @Marak

[2015-05-08 13:13] tkoomzaaskz commented on #170
Thank you. Expect first contribution this weekend.

[2015-05-08 22:13] tkoomzaaskz commented on #192
The docs have been updated, so this issue gets closed.

[2015-05-08 22:13] #192 closed

[2015-05-08 22:19] tkoomzaaskz commented on #183
The issue doesn't exist anymore, `bs_noun` is defined only once is locale:sk.

[2015-05-08 22:19] #183 closed

[2015-05-08 22:31] TheSharpieOne commented on #183
Yeah, it was fixed in #184. Doesn't look like it got linked and auto-closed.

[2015-05-08 22:32] tkoomzaaskz commented on #170
I can see that there are quite many opened issues that are either already resolved or invalid. Think I'll be working on those.

[2015-05-09 08:36] tkoomzaaskz commented on #197
@chenweiyj would you try to implement this and creates a Przy?

[2015-05-09 09:35] ducin opened #201 "`country_code` branch"
@FotoVerite could you tell me what is the story behind the `country_code` branch - what wasit supposed to deliver and what is the status?

[2015-05-09 09:49] tkoomzaaskz commented on #170
@Marak I'm ready to merge #200 into `master`. Only the docs were updated, the code remains untouched. I'd have done it myself, but thought it's better to get your approval before. See the new docs at: https://github.com/tkoomzaaskz/faker.js

[2015-05-09 09:59] ducin opened #202 "add faker.js to cdnjs"
The latest version of faker available is 0.7.2 (https://cdnjs.com/libraries/faker). Now we've got 2.1.2.

The task is to configure cdnjs auto-update, according to https://github.com/cdnjs/cdnjs#enabling-gitrecommended-or-npm-auto-update

[2015-05-09 10:01] tkoomzaaskz commented on #185
Both were merged. Seems like this one didn't get auto-closed either.

[2015-05-09 10:01] #185 closed

[2015-05-09 11:02] Marak commented on #170
@tkoomzaaskz -

I have posted feedback on #200

[2015-05-09 22:02] ducin opened #203 "locales files too big, split into separate modules"
It is difficult for me to scan over a js file that has more than 1000 lines of code. I was thinking about exploding a locale .js file into a directory where each section is a different file, being loaded over commonjs require. This would be handled by  both node.js and browserify. The advantage is to make the sources more modular and readable.

And probably easier to make a fallback if only a give

[2015-05-10 17:56] tkoomzaaskz commented on #170
@Marak thanks for the feedback. Please take a look at the `CONTRIBUTING.md` file I've prepared. Meanwhile, I'll work on the auto-gulp-readme update. Then I'll dive into the code.

[2015-05-10 18:18] tkoomzaaskz commented on #161
@komfushee could you please provide a PR for this?

[2015-05-10 18:27] tkoomzaaskz commented on #170
PS @Marak am I right that you haven't added your last commit (c0dc1c49a95c87cece7458c4099429fb7556de6a) to the docs sources either?

    ### CLI ( Command Line Tool )

    see: https://github.com/lestoni/faker-cli

[2015-05-10 19:39] Marak commented on #170
@tkoomzaaskz -

I don't have the availability to answer all your questions.

Please prepare all your work in a separate `dev` branch and prepare the new release. When you have a release ready I will review all commits for that release and determine if we can merge.

- Marak

[2015-05-10 21:38] Marak commented on #202
+1

[2015-05-10 21:41] Marak commented on #203
That seems like a good idea.

If you can do this correctly in a reasonable amount of time, please feel free. If not, I can take the time to perform this task.

You should the ability to assign users to github issues. Feel free to assign you or myself.

[2015-05-11 11:48] tkoomzaaskz commented on #170
@Marak, I have prepared new release for `2.1.3` version in #209. Please take a look at it. There is also `v2.1.3` branch that contains all release commits, it's supposed to be ready to be merged into `master` and afterwards `npm publish` to release `2.1.3` in npm.

All other question I asked can be postponed, I would like to include them into next releases. The sooner we can release the new versio

[2015-05-11 16:18] codebien commented on #197
Are you using mongoose? If yes, try this:

[code]

[2015-05-11 21:01] tkoomzaaskz commented on #170
This topic got overbloated somehow already. It'd be nice to have a documentation including usecases of faker generators. But this requires a separate issue afaik. Please, open a new issue and suggest how you see it.

[2015-05-11 21:10] marnen commented on #179
Of course I ran `npm install`. :)

[2015-05-11 21:13] marnen commented on #179
Of course I ran `npm install`. That's why the module was in `node_modules` in the first place. :)

[2015-05-11 21:19] tkoomzaaskz commented on #179
@marnen thank you for the response. And could you repeat the situation and check if everything works now? Could you execute above commands?

[2015-05-11 21:21] ducin opened #210 "upcoming v2.1.4 release"
I'd like to discuss the contents of the next upcoming release in this thread. I thought it's high time to include locales which have been prepared by few guys, who put **great effort** into it. This would include:
* traditional Chinese: #178
* Turkish: #181
* Georgian: #158

Smaller changes:
* readme: require node module #129

[2015-05-11 21:23] Marak commented on #210
I'd recommend performing issue triage to determine if there are any bugs that should be fixed.

Merging in the locales work also sounds great.

1. Fix bugs
2. Add new locales

[2015-05-11 22:04] tkoomzaaskz commented on #125
This seems a pretty important issue. I've done some research:
* `gulp` uses browserify against [index.js](index.js) file
* [index.js](index.js) contains `var locales = exports.locales = require('./lib/locales');` line, which loads all locales:
[code]
* as a result, everything (all languages) comes bundled.

I was thinking about browserify's [partition-bundle](https://github.com/substack/browserify

[2015-05-11 22:09] Marak commented on #125
@tkoomzaaskz -

This is a complex issue.

I'd recommend pushing this off until the next major version.

If anyone wants to take charge of this issue, please do. If no, I can do it in time.

[2015-05-11 22:10] Marak commented on #125
@kevinburkeshyp - The workaround is probably to remove the require statements from the index.js file and rebuild.

[2015-05-11 22:18] tkoomzaaskz commented on #210
@Marak you're right. Also I try to make a release including commits from similar background (locales, docs, etc). Also, there is some important stuff that needs lots of work and I can't do it soon. And I can prepare a bunch of small commits. But generally I agree with you and I'll try to do my best!

Do you know about heart-bleeding bugs?

[2015-05-11 22:28] Marak commented on #210
I don't think there are.

Only way to find out is to triage all open issues.

:-)

[2015-05-14 02:32] chenweiyj commented on #197
@codebien Thank you, this solves my problem.

[2015-05-14 02:32] #197 closed

[2015-05-16 07:42] tkoomzaaskz commented on #57
@ajkochanowicz how is your working going?
I can see that the page has been removed from wikipedia. But it seems that a similar content is available at http://clagnut.com/blog/2380

[2015-05-16 07:54] tkoomzaaskz commented on #28
@jmealo any updateon this? I'm afraid this issue is dead.

[2015-05-16 08:02] tkoomzaaskz commented on #139
#138 has been merged-in, this issue should have been closed.
@unindented thank you for your contribution.

[2015-05-16 08:02] #139 closed

[2015-05-16 08:08] tkoomzaaskz commented on #110
I have analysed old issues and PRs and I can see that the issue has been resolved. Additionally, I checked how does `faker.date.past(1)` behaves:

[code]

The tests have been impoved  as weel (ba482f10bed1a4e34cf1941bb5728d0a029822a4).

The PR has been merged, I just closed related issues. And so this issue should have been closed as well.

[2015-05-16 08:08] #110 closed

[2015-05-16 08:17] tkoomzaaskz commented on #153
@chasm this has been fixed in dc119ecd7fa7dbe45c78254e921521ec8d0a15f5. Thank you for pointing it out.

[2015-05-16 08:17] #153 closed

[2015-05-16 08:26] tkoomzaaskz commented on #210
Ok, so I'm triaging open issues.

Meanwhile, I think we coudl remove branch [v2.1.3](https://github.com/Marak/faker.js/tree/v2.1.3) because it has been already both merged and published. Ok for me to do it?

[2015-05-16 09:49] tkoomzaaskz commented on #203
@Marak I've made a proof of concept, done with my mother tongue.In this pull request I've submitted only the source changes, i.e. I haven't rebuilt the entire project because it ends up with merge conflicts. Anyway, I've built it locally and tried it in both node.js and the browser and everything works fine.

All I've done is just splitting files and loading them via commonJS `require`. That's all

[2015-05-16 10:45] tkoomzaaskz commented on #210
I've created [`v2.1.4`](https://github.com/Marak/faker.js/tree/v2.1.4) branch. Currently there are 3 minor commits:
* updated #129
* devDependency badge in readme
* devDependencies updated. These were really outdated!

All the commits contain source changes only (to make easy cherry-picks). The last commit contains build & version bump. If we extend `v2.1.4`, I'd remove the last commit (to make th

[2015-05-25 23:47] sethkinast commented on #210
Please update `bower.json`'s version when you push the next release-- it's still stuck at 2.0.0.

[2015-05-26 15:53] reepush opened #213 "Could not change locale"
Strange if I am doing it wrong, as well as strange that nobody has this problem.
[Example fiddle](http://jsfiddle.net/d0xb2120/2/)

[2015-05-26 16:06] Marak commented on #213
@4evergreen - There seems to be a diffirence in the `ru` locale due to `female_first_name` / `male_first_name` versus `first_name` in the other locales. This is causing Russian names to not return right.

This will need to get fixed.

see: https://github.com/Marak/faker.js/blob/master/index.js#L62

We are also missing tests for locales.

@tkoomzaaskz - Can you fix this or assign someone to fix it?

[2015-05-26 16:12] Marak commented on #210
@tkoomzaaskz - Please resolve #213 and we can call it a release. We will also need a basic test suite for `locales`.

Thanks! :-)

[2015-05-26 16:15] 4evergreen commented on #213
Thanks for quick reply. I will dig in it later today.

[2015-05-26 21:20] 4evergreen commented on #213
I have added definitions for male / female and now it works with russian locale. Changes are [here](https://github.com/4evergreen/faker.js/commit/adfaa4bab027489ec8d7024c492474fbe54aec0e).

But there are problems with `findName()`. It could output first and last name with different gender. I saw name property and mustache helper, it could help here.

[2015-05-26 22:42] csaintc commented on #159
:+1:

[2015-05-27 09:45] Marak commented on #159
Why hasn't this been fixed @FotoVerite or @tkoomzaaskz?

I shouldn't have to come in to easy issues like this this to figure out why you haven't followed up with the developers who are trying to contribute.

[2015-05-27 10:16] ndedic opened #214 ".words() returns null elements"
words() method returns an array which may contain null values. Is this to be expected?
I am able to replicate it using faker.lorem.words() within 100 iterations or less.

{"keywords": faker.lorem.words()}
{"keywords":["molestias","aut",null]}

Thanks,
Nedim

[2015-05-27 10:27] Marak commented on #210
@tkoomzaaskz -

#159 needs to be included in the release as well. There are few other issues related to this. Please fix ASAP.

[2015-05-27 13:04] tkoomzaaskz commented on #214
Nope, it's not expected :) I checked it and, in fact, undefined values are returned *sometimes*. But the real problem lines in the implementation of the ´Helpers.shuffle´ loop.

Will fix it soon.

[2015-05-27 13:27] ndedic commented on #214
Yes, I have managed to get that far but did not have enough time to unwrap .shuffle functionality :-)

[2015-05-27 13:44] tkoomzaaskz commented on #214
I'll handle that. Thank you for spotting the bug :)

The fix will be included in the upcoming release.

[2015-05-27 13:49] ndedic commented on #214
np

[2015-05-27 16:50] tkoomzaaskz commented on #214
@ndedic, the problem is in this line: https://github.com/Marak/faker.js/blob/a6c857f5b442d20182e64cf4f859e114d29a6786/lib/helpers.js#L42
The for loop is hardly readable, but the problem is that the faker.random.number(x) can take [0..x] and if it takes exactly `x` then accessing `x` index of the array will result in returning `undefined` instead of throwing an error (welcome to JavaScript). So if

[2015-06-02 18:54] soichih commented on #176
I did something like this

Does this do the same thing as .boolean()?

[2015-06-03 12:49] eheikes commented on #196
The main problem is that the name in [the bower manifest](https://github.com/Marak/faker.js/blob/master/bower.json) is `faker`. It's [supposed to match the name in the bower registry](https://github.com/bower/bower.json-spec#name), so it should be changed to `Faker`.

[2015-06-04 18:59] Marak commented on #175
Fixed with `v2.1.4`

[2015-06-04 18:59] #175 closed

[2015-06-04 19:11] sherrman commented on #214
Thanks!

[2015-06-05 19:25] pateketrueke opened #216 "`random.number` negative values issue"
I have the following code:

[code]

Faker fails on generate negative numbers with those options.

It is a known issue?

[2015-06-11 05:59] philberg commented on #216
I have fixed this issue in [my PR](https://github.com/Marak/faker.js/pull/218) and added an explicit test

[2015-06-11 12:25] #176 closed

[2015-06-11 12:36] #214 closed

[2015-06-11 12:37] #179 closed

[2015-06-11 12:38] Marak commented on #162
Should be resolved with #164

[2015-06-11 12:38] #162 closed

[2015-06-11 12:44] Marak commented on #216
This should be resolved now.

[2015-06-11 12:44] #216 closed

[2015-06-11 12:47] Marak commented on #210
`v2.1.4` and `v2.1.5` are now released.

[2015-06-11 12:47] #210 closed

[2015-06-15 15:54] nephridium opened #220 "Use locale's name format for findName"
Names not formatting correctly for certain locales. Looks like this is part of issue #133, but i decided to pull the findName() part into a separate issue since I have a fix at least for that one.

Got rid of the randomized generic formatting and instead use a newly minted helpers.template() function which works like mustache() but for the `#{}` marker that is currently used for the name string in

[2015-06-21 05:29] afanasy opened #221 "FR: add fake GPS track generator"

[2015-06-21 05:29] afanasy opened #222 "FR: add fake location generator following given location path (GPS track)"

[2015-06-23 23:49] justrhysism opened #223 "Remove \t tab from lorem.paragraphs"
The `\t` tab on [Line 40 of lorem.js](https://github.com/Marak/faker.js/blob/master/lib/lorem.js#L40):

[code]

is unnecessary and causes issues when using faker to generate markdown (_not to mention old school, you're not supposed to indent new paragraphs anymore - unless you're publishing print_).

Could it please be removed.

[code]

[2015-06-24 06:43] Marak commented on #223
It seems like this should be an option. Some people might want the paragraphs to return with indents.

If you want to open up a pull request to change this I will accept.

This function https://github.com/Marak/faker.js/blob/master/lib/lorem.js#L34 should accept an additional parameter for for formatting where `\n \r\t` is the default.

[2015-06-26 14:49] nephridium commented on #220
Any input on this issue? Is there something I need to improve in my fix?

[2015-06-26 14:54] Marak commented on #220
If you have a change make a PR and I will review it.

This request for review is out-of-band of the PR process.

[2015-06-26 14:54] #220 closed

[2015-06-27 13:26] kovpack commented on #203
This is really good idea. I'm preparing Ukrainian locale now and will use this approach, because it is really good and clean.

[2015-06-27 21:22] kovpack commented on #223
@Marak: `\n \r\t` definitely should not be the default value. Default value is always the one that is most common, so I completely agree with @justrhysism .

Tabs are extremely **uncommon** (this is the first place I see it during last few years). That means that when 99% of users call the function they should not pass extra params. If 1% of users want to use something uncommon - they should pass

[2015-06-27 21:26] Marak commented on #223
Okay. So change the default to that.

Still needs to be configurable. Make the PR.

[2015-07-01 05:09] Truffula opened #226 "companyName format can't be forced to type 0"
If you pass 0 to `companyName`, it still fetches a random number (I haven't checked if other functions are affected).

[code]
Fixed:
[code]

[2015-07-03 09:26] hellboy81 opened #228 "Faking random file names, paths, extensions and content types"
Is there possible to implement this feature?

[2015-07-03 09:40] Marak commented on #228
You could generate file names, paths, extensions, and content types pretty easily. This would require mime type lookup table. https://github.com/broofa/node-mime/blob/master/types.json

Why is it you need this functionality? What's the purpose?

[2015-07-03 09:44] Marak commented on #226
We should really remove all of these string concats and arbitrary numbers and replace them with a format string / custom generator.

see: #199 #195

[2015-07-03 09:46] Marak commented on #226
@Truffula - Good catch.

I'm just going to remove all the switch / case logic entirely. Using a format string / allowing custom generators will make the whole API easier to use.

[2015-07-05 01:11] Truffula commented on #171
I'm not sure if this is too big a departure from the existing API, but for methods that have a number of options (e.g. first name, last name, separator), would it make sense to pass an options object instead of having fixed parameters? e.g:
[code]

[2015-07-05 01:14] Marak commented on #171
I've got a local branch in development that should address this issue as well as #226 #199 and #195

Should have something online in the next day or two.

[2015-07-05 05:48] #226 closed

[2015-07-05 05:49] Marak commented on #226
@Truffula - I should have this fixed now in `master`. I will review the rest of the code-base for similar errors to this.

With the new `faker.fake` generator method, we can remove a lot of this logic and make the code more simple.

Thanks for the feedback!

[2015-07-05 05:53] Marak commented on #171
Using `master` branch you should be able to format and combine any existing faker methods.

Examples here: https://github.com/Marak/faker.js/blob/master/examples/generators.js

Sample syntax:

[code]

I'm thinking this will solve most use cases...let me know.

[2015-07-05 06:42] #223 closed

[2015-07-05 06:44] Marak commented on #223
I have updated API to not use `\t` by default. The separator for joining paragraphs is also now configurable.

Thank you for the feedback.

[2015-07-05 06:50] Marak commented on #203
If anyone is looking for a work-around, the current best option is to simply comment out the require statements for the locals you don't intend on using, and then re-building the library using gulp.

Not a very hard process. If anyone wants to write documentation for this, that would be great.

[2015-07-05 07:15] Marak commented on #221
What is a GPS track? Do you mean generate fake GPS coordinates?

[2015-07-05 07:18] Marak commented on #199
Customer generators are now landed in `master`.

Examples here: https://github.com/Marak/faker.js/blob/master/examples/generators.js

[2015-07-05 07:18] #199 closed

[2015-07-05 07:31] afanasy commented on #221
Basically track is just an array of coordinates. But it should be more or less "sane" track, with points not far from each other forming the track, not just random set. I'm working on fleet tracking system and need this for testing.

[2015-07-05 07:35] #148 closed

[2015-07-05 07:40] Marak commented on #221
Do you mean a bounding box for longitude / latitude?

Something like this http://janmatuschek.de/LatitudeLongitudeBoundingCoordinates ??

You might be able to google an existing solution.

[2015-07-05 07:44] afanasy commented on #221
Thanks!
It's not that I'm unable to find a solution, its just I though it would be a nice additional to the great faker lib.

[2015-07-05 07:48] Marak commented on #156
If you have a specific question about a piece of code please post the line number of the code with some example syntax to illustrate your question / problem.

Thanks!

[2015-07-05 07:49] #156 closed

[2015-07-05 07:50] Marak commented on #167
@kevinburke - The work-around would be to comment out the locale requires you aren't using in this file: https://github.com/Marak/faker.js/blob/master/lib/locales.js

[2015-07-05 07:50] Marak commented on #167
Closing for now. If anyone has issues with the work-around please let me know.

[2015-07-05 07:51] #171 closed

[2015-07-05 07:53] Marak commented on #221
Cool.

Feel free to open up a pull request with the functionality and I'll be glad to merge it.

Thanks!

[2015-07-05 07:54] afanasy commented on #221
It's not bounding box. In my app I have a bus following specific track, and I need to emulate this bus for testing - so I need to make a fake track, then to make a fake bus following this track.

[2015-07-05 07:54] afanasy commented on #221
Ok, sounds like a plan :)

[2015-07-05 10:19] Truffula commented on #226
Cheers!

[2015-07-06 13:50] someatoms opened #229 "Update to latest version on CDNs"
Would be nice to have the latest version on [cdnjs](https://cdnjs.com/libraries/Faker) and [jsDelivr](http://www.jsdelivr.com/#!faker.js). Right now they have 0.7.* versions.

[2015-07-06 15:04] Marak commented on #229
Okay.

When the next version of faker is released I will update cdnjs and jsDelivr.

If you want to put up the current version now, please feel free.

[2015-07-06 15:05] Marak commented on #28
Closing for inactivity.

[2015-07-06 15:05] #28 closed

[2015-07-06 15:06] Marak commented on #57
Closing for inactivity.

[2015-07-06 15:06] #57 closed

[2015-07-06 15:06] someatoms commented on #229
Awesome!

[2015-07-06 15:07] jimaek commented on #229
I enabled auto-updates for faker.js. Our bot will now automatically upload new versions once they get tagger in Github.
The last version is now live http://www.jsdelivr.com/#!faker.js

[2015-07-06 15:08] someatoms commented on #229
Awesome!

[2015-07-06 15:08] #229 closed

[2015-07-06 15:09] Marak commented on #126
It looks like #173 should solve this.

Closing issue for inactivity.

[2015-07-06 15:09] #126 closed

[2015-07-06 15:42] Marak commented on #201
Merged.

[2015-07-06 15:42] #201 closed

[2015-07-06 15:42] Marak commented on #134
Should be merged in `master` now.

[2015-07-06 15:42] #134 closed

[2015-07-06 15:43] Marak commented on #168
@gagle - Any updates?

[2015-07-06 15:46] Marak commented on #143
Appears to be merged and resolved.

Closing.

[2015-07-06 15:46] #143 closed

[2015-07-06 15:49] Marak commented on #196
@eheikes - Project name is "faker" or "faker.js", not "Faker" or "Faker.js"

[2015-07-06 15:51] Marak commented on #169
@verybigman - Any updates on a pull request for this?

:-)

[2015-07-06 16:00] Marak commented on #203
Okay. I can make a migration script to split all existing locales into folders and separate files.

You don't want to be doing this by hand. It's better to require all locales, then use `mkdirp` and `fs` modules with a little meta-programming via string concatenation to create all new modules.

I'll probably push this back until the next release, not the current release being prepared. If anyone w

[2015-07-06 16:05] Marak commented on #159
It looks like this was fixed with aa242f7a4bf0cfd15ebcb7f5dcd799d27de6792b and should be resolved and released.

[2015-07-06 16:05] #159 closed

[2015-07-06 20:44] verybigman commented on #169
@Marak Sorry! I do not have time for it now :(

[2015-07-07 18:54] #203 closed

[2015-07-07 18:55] Marak commented on #203
I've gone ahead and split all locale data into separate modules. Used a migration script to do it, so hopefully there are no errors in the data.

Feel free to review. Will try to push out the upcoming release this week.

[2015-07-07 23:24] Marak commented on #167
In `master`, we now have the ability to individually require faker locales without having to load all of them.

Should should help a bit.

[code]

[2015-07-08 20:33] isortegah opened #231 "add MX locale"
I would like to add a library of definitions for mexico

[2015-07-08 21:02] Marak commented on #231
Sounds good. Will accept a PR.

[2015-07-08 21:34] #125 closed

[2015-07-08 21:35] isortegah commented on #231
I can not find how to make the pull request

[2015-07-08 21:36] Marak commented on #231
https://help.github.com/articles/creating-a-pull-request/

On Wed, Jul 8, 2015 at 2:35 PM, isortegah <notifications@github.com> wrote:

[2015-07-08 21:37] Marak commented on #231
Data goes here: https://github.com/Marak/faker.js/tree/master/lib/locales

You can look at the other locales to see how the format is.

If you can add the data, I can figure out the rest.

[2015-07-08 21:46] Marak opened #232 "Replace hard-coded format arrays used by faker.fake() with definitions"
Now that we have a proper string generator method `Faker.fake`, we should replace any instances of hard-coded format arrays with a locale backed data definition.

Should be an easy search and replace operation.

[2015-07-09 00:59] SimonDegraeve opened #233 ""lorem" improvements"
Hi,

I was wondering if there is any reason why `lorem.sentence` is not capitalize and does not end with a dot?

Also I think it is a bit inconsistent to have `lorem.words` returning an `Array` but `lorem.sentences` and `lorem.paragraphs` returning a `String`.

I notice we can now choose the `separator` for `lorem.paragraphs`. I think the default should not have a `tab`, it is more common.

Regard

[2015-07-09 04:06] portse commented on #161
Although, some locales lack the proper zip/postal formats, this can also be achieved now by specifying the zipCode format explicitly like:

`faker.address.zipCode("#####");`

[2015-07-09 18:19] gullyfoyle opened #235 "en_IE locale"
Would it be OK if I made a pull request to add English (Ireland) locale? If differs from en_GB in terms of `phone_number`, `internet`, `cell_phone` and `address`.

It would be useful for a project I'll be working on soon!

[2015-07-09 18:32] Marak commented on #235
Sure, sounds great!

[2015-07-10 01:30] #235 closed

[2015-07-10 15:32] Marak opened #237 "reduce size of git repo and npm package"
Now that we are including multiple builds for locales, the overall size of the npm package and github repo has increased.

It would be best if we could figure out a better solution to reduce the time it takes to clone faker / install faker from npm.

[2015-07-13 14:52] VanTanev opened #239 "FR: Allow specification of a seed value"
It would be nice if we could get deterministic output from Faker. It seems that the lib used for random generation already supports this (https://github.com/Marak/faker.js/blob/master/vendor/mersenne.js#L273), so it's just a matter of exposing this interface somewhere on Faker.

[2015-07-13 16:28] Marak commented on #239
Sounds good. Will accept a PR.

[2015-07-13 19:26] VanTanev opened #240 "faker.internet.email() should probably only return lowercase characters"
As it stands, most email providers (actually, all that I am aware of) convert emails to all-lowercase. This means that, if we generate data with faker and then use it for, say, an integration test that verifies new user registrations, we get a mismatch between the data generated from Faker and the new user's email.

[2015-07-13 19:29] Marak commented on #240
That sounds pretty reasonable, although I'm not sure.

Could you simply just call `String.toLowerCase()` on the output of the fake email address method in your application?

I'm hesitant to take away uniqueness of a generated piece of data unless there is a compelling reason.

If anyone else has input on this please let us know.

[2015-07-13 19:38] VanTanev commented on #240
Yeah, it's what I'm currently doing. Worth mentioning that the gem version seems to already be doing this - https://github.com/stympy/faker/blob/master/lib/faker/internet.rb#L5-L46 - going as far as to only generate lowercase usernames.

[2015-07-14 16:10] vitasiku opened #241 "Uncaught TypeError: result.replace is not a function when setting faker.internet.email"
I am getting the following error in the chrome console which stops my ember-cli app from running

    `internet.userName @ faker.js:722
    internet.email @ faker.js:704
    (anonymous function) @ factory.js:14
    Factory.build @ factory.js:10
    exports.default.create @ server.js:132
    exports.default.createList @ server.js:140
    exports.default @ default.js:8
    exports.default.initialize

[2015-07-14 16:13] Marak commented on #241
Can you try upgrading to `v3.0.0` ?

[2015-07-14 16:14] Marak commented on #241
Can you also link to the actual line number on Github?

[2015-07-14 16:18] Marak commented on #241
I find that line, it should always have a value and should have test coverage.

https://github.com/Marak/faker.js/blob/master/lib/internet.js#L31

I would try going into the source code and dropping a debug statement to find out why result isn't being set. Could be an issue with your environment, not really sure.

[2015-07-14 21:02] vitasiku commented on #241
Updating to ```v3.0.0``` fixed the problem.
Thanks.

[2015-07-15 07:40] fakefish opened #242 "there are some problem is chinese version"
usually chinese people use chinese phonetic to named their email, like a boy named 王小明，in phonetic is wangxiaoming, usually his email is `wangjiaoming@163.com`, if his birthday is 1992.7.1, maybe his email is `wxm1992@163.com`, `wangxiaoming1992@163.com`, `wxm199271@163.com` and so on.
and the username is the same.
how can I fix this problem in zh-cn directory?

[2015-07-15 07:46] Marak commented on #242
@fakefish - Perhaps with use of https://github.com/vingel/node-pinyin library?

"pinyin" ?

[2015-07-15 08:17] #241 closed

[2015-07-15 08:32] fakefish commented on #242
@Marak yes

[2015-07-15 08:36] Marak commented on #242
@fakefish - If you can make integration with faker and `pinyin` library I will accept pull request.

You should put library as vendor inside of chinese locale file.

I don't speak the chinese, so please make changes and test....I will accept.

Thank you!

[2015-07-15 08:38] fakefish commented on #242
@Marak ok

[2015-07-15 19:52] Aweary commented on #240
Since it's a really simple fix to just use `String.toLowerCase()` when you need to, I'd say it's best to preserve the uniqueness. This way, people who *do* want uppercase letters can still use them, and people who don't can easily fix that.

[2015-07-15 20:05] Aweary commented on #233
I definitely agree. A lexical sentence should start with a capital letter and end with a period. Any return value that is a plural should return an array like words does as well, for consistency. I'll get a PR going for this.

[2015-07-15 20:09] Marak commented on #233
Related Issue #223

[2015-07-15 20:11] Marak commented on #233
@SimonDegraeve - There is some previous discussion on this issue #223.

Will accept a PR for updating the `lorem` generators if there are improvements to be made.

[2015-07-15 20:20] Aweary commented on #233
I think changing the sentence format is an easy win, and have a PR incoming, but the only concern I have is that changing the return type of `lorem.sentences` and `lorem.paragraphs` is going to be potentially be a breaking change for some users. It does make more sense, and would be consistent, though.

[2015-07-15 20:41] Marak opened #245 "Consider adding entropy to data definitions"
Currently, all faker data definitions are static ( essentially large JSON blogs storing lots of little bits of data ). This is good, but also somewhat bad, as there is a theoretical limit to the amount of unique fake information which the library can generate.

It *might* make sense to introduce entropy into the data definitions by using something like a Markov chain to periodically return new dyn

[2015-07-15 21:00] sethkinast commented on #240
I agree; you want faker to simulate real data entry, and lots of people will enter their email address as FirstNameLastName@MyDomain.com or similar.

[2015-07-15 21:41] VanTanev commented on #240
I would like to point out that converting emails to lowercase actually **does not** lower the uniqueness of generated data. Since there is no randomness to the generated case of names to begin with (they always start with an upper case, and an uppercase cannot show at a random position in the name), using a lowercase representation doesn't modify the number of possible combinations.

My only reaso

[2015-07-15 21:46] Aweary commented on #240
I agree, and thats why I think it's important to keep them as-is. Changing the case of the input would be part of the system being tested with Faker, so it's more realistic to provide data that is close to what the user would input, which leaves it up to the developer to implement those canonical representations.

 As an extreme example, we all know that any good system is going to hash passwords

[2015-07-15 21:47] VanTanev commented on #240
I can see your reasoning. Fair enough, closing this.
Thanks again :)

[2015-07-15 21:47] #240 closed

[2015-07-15 22:35] qgustavor commented on #242
I think this issue applies with many other languages: also Japanese, Korean, Russian and other languages with different alphabets use phonetic readings in emails. hakatashi/japanese.js can handle japanese and streamich/romanization can handle other languages. Currently I can't do a pull request, so it's just a idea.

[2015-07-16 00:08] Marak commented on #242
@qgustavor - If you can handle any of the languages, it would be much appreciated.

Is there an internationalization library which already does this somewhere?

[2015-07-16 00:08] #167 closed

[2015-07-16 02:15] fakefish commented on #242
@Marak I've read some code in locals but I didnot understand how can I change the email behavior? I think email is a file of internet dir,but how can I?

[2015-07-17 18:48] kbariotis opened #246 "Add Greek Locale"
I would be more than happy to start a Greek translation PR.

Thx :)

[2015-07-17 18:53] Marak commented on #246
Sounds good!

Will accept a pull request for Greek locale.

[2015-07-17 19:36] kbariotis opened #247 "Throw an error when Locale missing"
This [check](https://github.com/Marak/faker.js/blob/master/lib/index.js#L112) will yield an unhandled TypeError if the Locale that has been setted is missing or can't be found. It should handle it by throwing an error.

[2015-07-17 20:21] chadhietala opened #249 "Release to Bower"
Would you mind releasing a version to Bower that has the locale specific built files.

Thanks

[2015-07-17 20:45] mradionov opened #250 "New date generators: weekday, month."
[code]
I've recently had been faking some data and felt a need in these "date words", to get them one usually ends up including a library or manually creating arrays of all the weekdays and month names. I wonder if it's gonna be a good addition to a library and won't overload it.

[2015-07-17 20:45] Marak commented on #249
I don't mind at all, but I'm not exactly sure how to do that as I've never really used Bower.

The package manifest for Bower can be found here: https://github.com/Marak/faker.js/blob/master/bower.json

To my understand, there is no publish step required. Having a properly formatted manifest should be the only requirement.

[2015-07-17 20:50] Marak commented on #247
There is general issue now with grouping of locales and locale fallbacks.

Locales should be grouped by language with a primary language the a sub-locale. For example:

**Main locale**
`en`

**Sub-locales**
`en_AU`, `en_BORK`, `en_CA`, `en_GB`, `en_IE`, `en_IND`, `en_US`, `en_au_ocker`

The idea is that if a definition is not found in the sub-locale, the main locale is used as a fallback.

@kbario

[2015-07-17 20:54] chadhietala commented on #249
Sorry wrong project.. There is a Faker and faker

[2015-07-17 20:54] #249 closed

[2015-07-17 20:58] Marak commented on #250
@mradionov -

I think it's a pretty good idea!

I would probably create some new data definitions ( in the specific locale ) for date words. Create a few arrays of values such as month and day names. From there you can add a few methods to `date.js` file.

Will accept a pull request for this functionality.

[2015-07-17 20:59] Marak commented on #249
Could you elaborate on what you did to fix the problem?

Other Bower users might end up here.

[2015-07-17 21:19] mradionov commented on #250
Thanks, @Marak, your suggestions are clear to me and I'd love to make a pull request. One more question: is it required for a contributor to provide translations for all locales when adding a new generator or at least default 'en' would be enough (+ maybe a few more which contributor is aware of) ?

[2015-07-17 21:38] Marak commented on #250
Just contribute whichever languages you can.

`en` is a good one to start with, as others can translate from there.

[2015-07-18 10:15] kbariotis commented on #247
I see your point. In my case there is no sub locale. There is only one. Where should the actual data go? To the mail locale or create a sub locale and put them there?

Also, a suggestion here would be to, besides each locale's fallback, to exist a global default locale that every locale should fall into. Particularly, I suggest `en` to be that fallback. This way even if some data are missing from

[2015-07-20 09:01] hellboy81 opened #253 "Faking image data"
Add methods to generate [1-pixel image data](http://proger.i-forge.net/The_smallest_transparent_pixel/eBQ) (PNG, JPEG, GIF) as Buffer or Base64 string

[2015-07-20 11:29] thebergamo opened #254 "Fake Credit Card data"
Why not generate an valid credit card data?

[2015-07-20 12:43] hellboy81 commented on #228
In unit tests I should use insted of  `image03.jpg`, `image01.png`, `iamge02.gif` random generated file names

[2015-07-20 17:46] Marak commented on #253
For what purpose do you need to generate fake 1 pixel images? Couldn't you just use 3 pre-generated images?

[2015-07-20 17:48] Marak commented on #254
Duplicate of #169

Closing.

[2015-07-20 17:48] #254 closed

[2015-07-21 08:03] Marak commented on #239
Should be fixed in `master`.

Thanks @Aweary !

[2015-07-21 08:03] #239 closed

[2015-07-21 08:06] Marak commented on #242
@fakefish - Best if you can provide locale data as JSON. If you can do that, I can update source code.

[2015-07-21 11:12] Marak opened #255 "Create custom theme for faker microservice @ hook.io"
I've created a microservice wrapper for the faker API @ http://faker.hook.io/

The source code for the microservice is here: https://gist.github.com/Marak/22bdf948632c10f55674

Currently, http://faker.hook.io/ is a fully functional service that can handle any type of incoming request / content type / accept type / response type with grace ( through http://hook.io ).

You can test the API service b

[2015-07-22 10:15] samirgit opened #257 "Arabic local support"
are you planning by any chance to add arabic language support? i am new to faker and so far loving this tool. but now i'm working on an arabic application so need that arabic support! thank you

[2015-07-22 17:41] Marak commented on #257
I don't speak Arabic, so I won't be adding it myself.

If anyone else wants to add Arabic ( or any other locale ) I will accept a PR.

[2015-07-24 19:18] thebergamo commented on #169
Maybe I can do this =D

[2015-07-24 19:20] Marak commented on #169
Should be somewhat easy @thebergamo, let us know with a PR if you can.

[2015-07-25 21:50] gnetsys opened #259 "Npm install Faker fails."
Error on faker install.

npm ERR! Expected: ee9f7a3f40c15f68b9402088aa8f18a0ce4da00e
npm ERR! Actual:   0fc988492dd59038ee35fb29a43a5f2171bd2a9f

[2015-07-25 21:52] Marak commented on #259
Try updating your `npm`?

`sudo npm install npm -g`

[2015-07-25 22:01] #259 closed

[2015-07-25 22:03] Marak commented on #259
Did that work?

[2015-07-27 13:27] hellboy81 opened #260 "[discussion] [feature request] [help needed] Generating fake IBAN and BIC"
I need code to generate fake fake IBAN and BIC in international format

[2015-07-27 17:17] Mardaneus86 commented on #260
I can't really find an algorithm to generate valid IBAN numbers on the fly. Most of the generators out there are available as a SaaS-service. Reverse engineering the IBAN validation process would be an option I guess. I just found this library that seems to do a good job at IBAN validation: https://github.com/arhs/iban.js (thanks goes to @arhs)

Specifications for IBAN are available at https://en.

[2015-07-27 19:12] Marak commented on #260
Looks like a pretty easy feature to add.

You would need to import the format data from wikipedia and create a method which returned the account formatter based on country.

Seems like not a very difficult task, just one that will require a bit of copy / pasting.

[2015-07-27 19:18] hellboy81 commented on #260
May be [this can be helpful](http://toms-cafe.de/iban/iban.html)

See section  *Download*

Here you can download two versions of the IBAN program:

    `iban.js` - the JavaScript version used on this web site and
    `iban.py` - a Python terminal program.

[2015-07-27 19:20] Marak commented on #260
Yeah, google reveals many results.

https://github.com/eriksalhus/js-iban-calculator/blob/master/src/main/js/modules/model/iban.js

[2015-07-27 19:39] Mardaneus86 commented on #260
Hm, looks like I've searched for the wrong thing :smile:. Good resources to base a solution on!

[2015-07-28 14:02] syzer opened #261 "please publish new package version to NPM"

[2015-07-28 16:20] #261 closed

[2015-07-29 08:57] hellboy81 opened #262 "[discussion] [feature request] [help needed] Generating fake public and private key"
Is there possible to add fakes for RSA public/private key used by OpenSSL?

My SUT uses `ursa` library

Their dependency on private key to decrypt data

[code]

can be stubbed as follows:

[code]

The tested function uses [ursa](https://github.com/quartzjer/ursa) lib

My tests has dependency on public key:

[code]

[2015-07-29 09:05] Marak commented on #262
What is the difference between a fake key and real one?

[2015-07-31 17:53] whitlockjc opened #264 "Smallest bundle possible for English"
Right now I'm using [json-schema-faker](https://github.com/pateketrueke/json-schema-faker) which uses faker.js.  Whenever I use browserify to bundle my package, it's including 842 files related to faker.js locales out of a total of 947 files.  Since all of my error messages are English and I've no immediate need for localization, I'd love to figure out the best way to make the smallest faker.js fo

[2015-07-31 18:00] whitlockjc commented on #264
I wanted to label this a `question` but I cannot.  I'm currently seeing if I can find the answer via source surfing.  If I figure it out before I get a response, I'll update this issue.

[2015-07-31 18:06] whitlockjc commented on #264
I figured it out.  :)  It seems that `en_US` is what I want and it will include all of `en` to `en_US`.  `en` would probably be fine but it seems `en_US` updates some things to be more US specific.

[2015-07-31 18:06] #264 closed

[2015-07-31 20:58] Marak commented on #264
Thanks @whitlockjc

Please let us know if you have any other questions.

[2015-07-31 21:33] Marak commented on #247
I agree @kbariotis . `en` is probably the best default fallback.

If you have a solution please open up a PR. If not, I can try to sort out a solution in the next weeks.

[2015-07-31 23:48] #246 closed

[2015-07-31 23:48] Marak commented on #246
Merged.

[2015-08-01 08:34] thearabbit opened #265 "I can't find package "practicalmeteor:faker" in Meteor JS."
I can't find package `practicalmeteor:faker` in `Meteor JS`.

[2015-08-01 09:26] Marak commented on #265
I have no clue.

I don't use Meteor.

Maybe someone here can help.

[2015-08-01 12:46] thearabbit commented on #265
Because I see it on this readme.

[2015-08-02 04:33] Marak commented on #265
Ping @rbabayoff

[2015-08-12 20:03] whitlockjc opened #267 "es_MX local is littered with non-breaking spaces"
The `es_MX` local is littered with non-breaking spaces `\xA0` in place of regular spaces.  Node.js handles this without issue as it assumes UTF-8 file encoding but for the browser, without explicitly using the `charset` attribute to specify `UTF-8` in the script tag, you will end up with an `Unexpected identifier` error.  A good example is `lib/locales/es_MX/commerce/color.js`.  If I build that lo

[2015-08-13 00:20] Marak commented on #267
cc @sortegah

[2015-08-13 00:20] Marak commented on #267
cc @isortegah

[2015-08-13 00:23] Marak commented on #267
@whitlockjc - Sounds like the person who did that locale might have a weird setting in their editor.

Could you do a search and replace to fix this?

[2015-08-13 00:34] whitlockjc commented on #267
You can.  I can send you a PR if you'd like but as I mentioned earlier, before dropping a PR on you I wanted to see if it was something you wanted.  I'll assume that's the case unless I hear otherwise.

[2015-08-13 00:41] Marak commented on #267
PR would be great, thanks!

On Wed, Aug 12, 2015 at 5:34 PM, Jeremy Whitlock <notifications@github.com>
wrote:

[2015-08-13 15:31] whitlockjc commented on #267
Should I only update the files in `lib`?  I see some characters in `build` and `examples` too but if they are build artifacts at release time, I don't want to muck with those unless you want me to.

[2015-08-13 15:32] whitlockjc commented on #267
I have everything ready, tests running, for `lib`.  Just let me know about `build` and `examples` and we'll go from there.

[2015-08-13 16:50] Marak commented on #267
Don't worry about the builds. We only do those for releases.

On Thu, Aug 13, 2015 at 8:32 AM, Jeremy Whitlock <notifications@github.com>
wrote:

[2015-08-13 19:57] whitlockjc commented on #267
Done.  I ran tests and got some coverage error but since I didn't touch any tests, I don't think this is related to my changes.

[2015-08-13 20:01] Marak commented on #267
Cool, thanks!

We use Travis to determine correctness of tests.

https://travis-ci.org/Marak/faker.js

Looks like its passing. I will pull later and check locally before release.

[2015-08-16 17:13] mradionov commented on #250
This feature was released in 3.0.1 and I guess the issue can be closed. Thanks.

[2015-08-16 17:13] #250 closed

[2015-08-20 04:45] erichonkanen opened #269 "slugify is not working"
hello,

I am trying to get slugify to work in conjunction with another field but the slug field is coming back as null... any ideas?

[code]

[2015-08-20 04:46] erichonkanen commented on #269
nvmmm

[2015-08-20 04:46] #269 closed

[2015-08-20 05:40] dmyers commented on #190
:+1:

[2015-08-20 20:28] brianmcmillan opened #270 "faker.helpers.replaceSymbols functionality"
What is the intended functionality of helpers.replaceSymbols? It appears to function the same as helpers.replaceSymbolWithNumber.

`faker.helpers.replaceSymbols("#ABC def 123")` = 7ABC def 123

[code]

[2015-08-23 20:20] aaronjudd commented on #265
The `practicalmeteor:faker` package looks out of date, and isn't published to atmosphere anymore.

Suggest using:
[code]
(server only)

[2015-08-24 00:52] thearabbit commented on #265
Thank, should be update on `readme`.

[2015-08-24 00:52] #265 closed

[2015-08-24 01:18] rbabayoff commented on #265
Guys, I apologize. I missed this thread. I never actually published the faker package to meteor after my PR was merged, since it was merged half a year later and during that time a new meteor community effort was made to autopublish npm packages and other libraries to meteor, every time a release tag is created in the library's repo. I suggested this in my faker PR [here](https://github.com/Marak/

[2015-08-24 01:47] rbabayoff commented on #265
I published practicalmeteor:faker to meteor. v2.1.1, for now. Will soon publish v3.0.1.

[2015-08-24 04:19] rbabayoff commented on #265
Faker v3.0.1 [published](https://atmospherejs.com/practicalmeteor/faker) too, works in node.js and in the browser.

[2015-08-24 07:40] aaronjudd commented on #265
@rbabayoff :+1:

[2015-08-24 08:21] hellboy81 opened #272 "[question] [discussion] [help needed] generate two unequal uuid"
How can I generate in Arrange phase two unequal id?

[code]

[2015-08-27 05:49] Marak commented on #272
I'm not sure I understand the question.

Could you try rephrasing it?

[2015-08-27 06:03] hellboy81 commented on #272
Is it OK

[code]

[2015-08-27 06:38] Marak commented on #272
Probably not. Use a real uuid library if you need to guarantee uniqueness.

see: https://github.com/Marak/faker.js/blob/master/lib/random.js#L64

[2015-08-28 08:26] chenweiyj opened #273 "How to generate a random number according to a regular expression?"
How can I generate a random number via faker which matches a regular expression? For example, to match `/^1(3|5|7|8|4)\d{9}$/`.

[2015-08-28 08:34] Marak commented on #273
@chenweiyj - Maybe try this library? https://github.com/fent/randexp.js

[2015-08-29 17:03] lykmapipo opened #274 "it should be able to generate random language"
[code]

[2015-08-30 09:19] lykmapipo opened #275 "It should be able to generate single word in dsl manner"
[code]

[2015-08-30 09:46] Marak commented on #275
Sounds good.

Can you add a word method with tests?

Should be easy.

[2015-08-30 09:47] Marak commented on #275
Also, `faker.lorem.words(1)` should generate a single word.

[2015-08-30 09:53] lykmapipo commented on #275
@Marak

In my codes i have been doing `faker.lorem.words(1)` which i found it not cool than if i have a `dsl` for creating a single word as `faker.lorem.word()`

Sure am on it.

[2015-08-30 11:09] lykmapipo commented on #275
@Marak

I have already file a pull request. [See pull#276](https://github.com/Marak/faker.js/pull/276)

[2015-09-09 19:29] blakeembrey opened #278 "[Suggestion] Add options to methods for specifying length and other potential constraints"
This would come in handy when generating data against a pre-defined schema (E.g. JSON, query, XSD, etc). If it's a welcome addition, I'll look at doing an initial PR.

Example:

[code]

These lookups can be optimised much more easily from within `faker` than externally (which would result in random generation potentially hundreds of times or infinitely without external knowledge of the contraints)

[2015-09-09 19:33] Marak commented on #278
@blakeembrey -

What will `faker.name.findName({ minimum: 5, maximum: 10 })` output?

[2015-09-09 19:37] blakeembrey commented on #278
@Marak A full name, like usual, but constrained to between 5 and 10 characters long (using unicode characters, not string length).

Of course, there's a lot more than just names where this would be used since a lot of schemas will specify constraints on various fields and this would ensure the fake data either matches, or doesn't match at all (by inverting the logic in the consuming code), and we

[2015-09-09 19:43] Marak commented on #278
@blakeembrey -

I like the idea. The implementation might be tricky. The sampling algorithm shouldn't melt the user's processor.

Would you want to take in a schema validator as a dependency? If so, I'm generally extremely in favor of https://github.com/mschema/mschema . `mschema` is well tested and I'm using it everyday.

[2015-09-09 19:50] blakeembrey commented on #278
@Marak I don't think there needs to be a schema validator at this level as the options will be added as implemented - but a consistency should probably be enforced, maybe by borrowing from JSON schemas (`minimum`, `maximum` for numbers and `minLength`, `maxLength` for strings and so on).

As for selecting from the datasets, it shouldn't be difficult to ensure. I haven't looked too much at the curr

[2015-09-09 20:00] Marak commented on #278
@blakeembrey - Go ahead and create an implementation. Submit a PR when you've got something working and we can review from there.

It might be best to create a new hash argument that contains the constraints. This way, we can stay as backwards compatible as possible. Either way, looking forward to what you submit.

Thanks!

[2015-09-10 18:52] blakeembrey commented on #278
@Marak Perfect, thanks. I won't be free to work on this for a while yet (maybe a few weeks away), but once I get a chance I'll open a PR with an initial POC and we can move on from there. :smile:

[2015-09-10 19:33] Marak commented on #278
Sounds good @blakeembrey, thanks!

If it's going to require cross cutting changes, an initial POC which only touches a few API calls seems like the best way to start.

[2015-09-10 20:17] brianmcmillan opened #279 "[Suggestion] Document the methods in the wiki"
I've started writing some documentation to the API and would like to publish them to the wiki with your approval.

https://github.com/brianmcmillan/faker.js/wiki/faker.js-documentation

## EXAMPLE
### API Methods
#### Basic random data
**Whole Number**
*faker.random.number(min,max)*
Random number between 0 and "range".
`faker.random.number(100);` = 92
`faker.random.number(5,10);` = 9

**Decimal nu

[2015-09-11 12:45] kimmobrunfeldt opened #280 "Migration from 2.x to 3.x"
Could you include all breaking API changes to [CHANGELOG.md](https://github.com/Marak/faker.js/blob/20ec97b9b7449ba0ca37a90226a8651f18164e53/CHANGELOG.md) ?

It's quite a big of a task to go through all individual commits and their diffs after 2.x release.

[2015-09-11 12:49] Marak commented on #280
@kimmobrunfeldt -

I'd like to, but my time constraints don't really allow it.

I try to take care with the git commit messages so they form a story about what is the CHANGELOG.

Maybe you could make a tool that parses commit messages based on our tag styles which generates a CHANGELOG automatically?

[2015-09-11 12:59] kimmobrunfeldt commented on #280
It's definitely possible and I could do something like that to help this project, but there are a few problems in my opinion:

* The commit messages don't seem to follow the convention that strictly
* Bigger issue: how would automatic tool detect library public API changes? That's the most important information for the users like me. If I update the library, which methods do I need to change etc.

[2015-09-11 13:00] Marak commented on #280
Yeah, I dunno.

It's a lot of work to do.

If you could help get us up to date today, I can commit to updating in the future.

[2015-09-11 13:05] kimmobrunfeldt commented on #280
I'll put it on my todo list and get back to it later. Might take some time. Is the README.md's API documentation up to date? I can do a comparison of the README.md between 2.x and 3.x versions.

[2015-09-11 13:12] Marak commented on #280
Do whatever you can do.

Thank you for your contribution!

On Fri, Sep 11, 2015 at 6:05 AM, Kimmo Brunfeldt <notifications@github.com>
wrote:

[2015-09-15 12:35] rvanider opened #283 "faker.internet.domainWord returns domains with apostrophes"
While strictly allowed it is very uncommon.

I will supply a pull request with a suggested enhancement.

[2015-09-22 19:22] gberger opened #285 "it should be able to generate random bitcoin addresses"
A Bitcoin address, or simply address, is an identifier of 27-34 alphanumeric characters, beginning with the number 1 or 3, that represents a possible destination for a Bitcoin payment.

[2015-09-24 00:29] CoDEmanX commented on #260
I got some code to generate valid IBANs, but they don't necessarily look like typical IBAN numbers, which usually contain a lot of zeros and some other patterns - is that a problem?

[2015-09-24 01:40] Marak commented on #260
@CoDEmanX - What is wrong with the other implementations listed?

[2015-09-24 09:44] CoDEmanX commented on #260
They are validators not generators if I'm not mistaken. The one you referred to is capable of calculating the checksum, but doesn't generate bank codes and account numbers, and the code is terribly inefficient. Also, no one bothered to write an actual generator so far for this project.

[2015-09-24 22:12] jamesdixon commented on #279
@brianmcmillan this is awesome. I honestly had no idea that there were so many options. thank you!

+1 to adding to this Wiki :+1:

[2015-09-24 22:21] CoDEmanX commented on #260
PR is here: #286
Doesn't make sense to put the required data in locale files, because it makes it overly complicated, languages and countries are different things and for there are no locales so far for most of the countries' languages used in IBANs and BICs.

[2015-09-27 02:49] Marak opened #287 "Prepare 3.1.0 Release"
It's about getting time to do a new release.

I'll triage the issues in the next week to prioritize what will be included.

If anyone has any additional issues or comments on the next release please post them here.

[2015-10-03 23:32] lmcardle commented on #287
Semi-related, master appears, at least the docs, to be behind the 3.0.1 release. the docs still are using a number of snake case method names (i.e. array_element) where 3.0.1 readme uses camel case (i.e. arrayElement). For documentation, it would be helpful if the current release readme matched master.

[2015-10-06 10:38] webia1 opened #290 "Simulating authentication with faker"
Is there a proven approach to do that with faker?

thank you
rgds ebia

[2015-10-13 14:38] pho3nixf1re commented on #233
See my PR above making the words method return a string.

[2015-10-15 07:09] skolsuper commented on #279
:+1: Weird that this hasn't been done already, good work @brianmcmillan

[2015-10-18 11:01] skolsuper commented on #279
Just FYI @brianmcmillan, I think your documentation may be out of date/incorrect.  From looking at the source code [here](https://github.com/Marak/faker.js/blob/master/lib/random.js#L22), the first function in your wiki, faker.random.number, accepts only a single argument, if it is a number that is used as the max, otherwise it should be an object with max, min and precision properties.

I have up

[2015-10-19 13:30] brianmcmillan commented on #279
Thanks for the feedback. I’ll also take a look through it.
~ Brian

[2015-10-19 22:29] medihack opened #294 "faker creates invalid URL"
I create many (thousends) of URLs using faker (`faker.internet.url()`). Unfortunately every now and then it produces this URL: `http://d\'angelo.name`, which seems invalid to me (isn't it?).

[2015-10-26 20:35] TheMcMurder opened #297 "Faker creates invalid phone numbers"
faker will occasionally create a phone number like this (faker.phone.phoneNumberFormat(2))
`1-012-099-8763`

This is completely invalid. Phone Numbers are NXX-NXX-XXXX where N is between 2 and 9 and X is between 0 and 9 see [Wikipedia](https://en.wikipedia.org/wiki/North_American_Numbering_Plan) subsection Numbering system

[2015-10-26 20:38] Marak commented on #297
Good catch.

Will accept a pull request to address this.

One thing to consider is Faker supports multiple localities, so there should be separate logic for generating phone numbers from different regions.

[2015-10-28 04:42] mguida22 opened #299 "Support for real looking fake sentences"
Currently `faker.lorem` supports lorem ipsum style sentences and paragraphs. It would be really helpful to support fake sentences that look real (do not use lorem ipsum). This could be random english words to use as a placeholder like [cupcakeipsum](http://www.cupcakeipsum.com/) does, or something that uses a markov chain approach to generate sentences that appear grammatically correct.

A possibl

[2015-11-27 08:51] hellboy81 opened #305 "Add ISO 3166 generators"
Please add generators both for
- [ISO 3166-1](http://en.wikipedia.org/wiki/ISO_3166-1) codes
  - `Alpha-2 code` (`DE`)
  - `Alpha-3 code` (`DEU`)
  -  `Numeric code` (`276`)
- and [ISO 3166-2](http://en.wikipedia.org/wiki/ISO_3166-2) subdivision codes
  - For example: [Germany](https://en.wikipedia.org/wiki/ISO_3166-2:DE)

[2015-11-27 12:27] hellboy81 opened #306 "[question] [discussion] [help needed] Generating MongoIDs etc..."
With [`chance.js`]() I can generate random upper-cased string IDs (such as `MongoID`) with [`chance.hash`](http://chancejs.com/#hash) :

[code]

What is the best way to generate such values in `faker.js`?

[2015-11-27 12:49] hellboy81 opened #307 "[feature request] House number"
Add support for generating fake house numbers

[2015-11-27 15:51] robsilva opened #308 "bower downloading old version"
Could you kindly update the bower manifest to point to your master branch?

[2015-11-27 18:50] pillowfication opened #309 "faker.seed() does not return predictable words from faker.lorem"
faker.seed(555);
    var word1 = faker.lorem.words(1)[0]; // word1 = 'maiores'
    faker.seed(555);
    var word2 = faker.lorem.words(1)[0]; // word2 = 'quae'

    word1 == word2; // false

This is because faker is shuffling definitions.lorem.words and not restoring its original state upon setting the seed.

[2015-11-27 19:50] Marak commented on #309
Can you open a PR for this?

[2015-12-04 11:35] salexzee commented on #307
Wouldn't that just be a random number of some specific length. I think you'd be fine with something like: `faker.random.number({min: 100, max: 500})`

[2015-12-04 12:07] hellboy81 commented on #307
[Not all cases are covered  by integers](https://en.wikipedia.org/wiki/House_numbering#Former_Soviet_Union)

[2015-12-04 17:43] corysimmons opened #312 "support for square imagery"
plz?

[2015-12-11 00:35] cliffpyles commented on #170
@Marak Thanks for providing such an awesome product! I agree that documentation would be extremely helpful, and I'm interested in putting this together. Is that something that you still see as a priority, and if I spend the time to put something together, will it definitely be used (assuming they are accurate)?

[2015-12-11 00:44] brianmcmillan commented on #170
Please take a look at the wiki. I did an initial pass at the documentation by looking at the source code and it would be FANTASTIC to have another set of eyes!

[2015-12-11 00:52] cliffpyles commented on #170
Thanks Brian. That's exactly what I was looking for. If I see something to add, what's the process for contributing?

[2015-12-11 03:15] cliffpyles commented on #170
@brianmcmillan This appears to be exhaustive. Have any objections to me breaking the sections into individual pages, and adding syntax highlighting to the code blocks?

[2015-12-11 09:44] Marak commented on #170
It would be great if this information existed as data instead of markdown.

That way we could auto-generate documentations.

Either as JSON literals next to the code blocks, comments they can be parsed out as data using a tool, or even a stand-alone schema file per module.

[2015-12-11 14:14] cliffpyles commented on #170
Are you thinking of something like JSDoc?

[2015-12-11 14:36] Marak commented on #170
Tough call. It might make sense to just polish the documentation we have in the wiki since the `faker` API is relatively stable.

What I'd like to have is an `mschema` available for every method and module. This would also allow for uniform validation of all existing method input arguments. The additional overhead of adding this in-line to the code wouldn't be too bad.

https://github.com/mschema/

[2015-12-11 15:09] cliffpyles commented on #170
Nice. I really like this approach. You had mentioned having the schema in a stand-alone file also. That would eliminate noise in the modules themselves. Is that the preferred approach, and if so, where should those files live?

[2015-12-11 15:11] Marak commented on #170
I'd like to keep it in-line with the modules instead of separate files. Easier to read.

We could add an option to the browser build step to remove these properties if someone wanted to reduce browser package size.

[2015-12-11 15:18] brianmcmillan commented on #170
No, I don’t have any objections at all.
~ Brian

[2015-12-11 15:28] brianmcmillan commented on #170
I think the idea of incorporating msschema into the code is a great idea. It’s much cleaner than JSON schema. Another alternative might also be to use joi (https://github.com/hapijs/joi <https://github.com/hapijs/joi>). My vote is to go with msschema in the code and then auto-generate a documentation file.

~ Brian

[2015-12-11 15:32] cliffpyles commented on #170
Awesome. I think everyone is on the same page then. I'll get started on the updates. I'll update the wiki first, since it will only take a few minutes. Then I'll start on the schemas this evening.

[2015-12-12 21:25] cliffpyles commented on #170
I've created the individual pages on the wiki, but I left the original page with all of the methods. If everyone is happy with the individual pages, I will remove the old page so we don't have duplicate information. That sound good to everyone?

[2015-12-13 00:16] brianmcmillan commented on #170
@cliffpyles Great job. Feel free to delete the old page.

[2015-12-13 01:54] xergioalex opened #316 "(Feature request) Method for generate any fake data randomly and be posible exclude any type"
Hello, i think is really helpful if you can generate any data randomly for testing, and have the posibility of exclude any type.

* For example i want generate fake data that aren't an email.

**This is my code for that, but if this can include in API gonna be awesome.**

[code]

[2015-12-13 05:12] cliffpyles commented on #170
@brianmcmillan @Marak

Old page deleted on the Wiki.

I've also completed round 1 for the internet module. Let me know if you guys have any thoughts or feedback. You can view the work here: https://github.com/cliffpyles/faker.js/blob/master/lib/internet.js

There were a couple of things that came to my attention though.

1st - On some schemas (email for example) it seems like it will be useful to

[2015-12-13 14:15] xergioalex opened #317 "faker.internet.url() generate invalid urls"
For example this url is invalid: "'https://miguel ángel.com.es'".

[2015-12-15 04:15] Marak commented on #170
@cliffpyles -

Looking very nice.

I'd recommend we move to only using `sampleResults` as an array. Remove `sampleResult`. In the case of a single result, it would be a single item array. Will be easier down the road for building tools to parse the schema.

As for example usage, my idea was we could auto-generate the example usage code based on the new schemas and the structure of faker. Everythin

[2015-12-19 01:21] john-kurkowski opened #318 "[feature request] a non-global Faker instance"
It would be nice to be able to instantiate a Faker object with its own state. That way, seeding it doesn't inflict that seed on all other Faker.js users. Maybe they don't want my deterministic output.

Something like this:

[code]

[2015-12-19 07:40] Marak commented on #318
@john-kurkowski -

If you look at the source code, you'll see `Faker` is actually a class which is being initialized for you.

see: https://github.com/Marak/faker.js/blob/master/lib/index.js

If you wanted direct control of creating your own Faker instance you could probably do something like:

https://github.com/Marak/faker.js/blob/master/index.js#L3

Shouldn't require any code changes on our end

[2015-12-19 10:51] Marak commented on #317
A pull request to fix this would be welcomed.

[2015-12-24 19:16] dmelamedcl opened #319 "[feature request] Allow loading additional custom generators"
By default `faker` is loading `./lib` which contains all the built-in generators. I would like to add custom generators that I would store in another directory and load them using `faker.load('./custom_lib')`.

[2015-12-24 20:50] Marak commented on #319
@dmelamedcl -

If you wanted, you could make a modification to `lib/index.js` where the `Faker` object is being constructed.

https://github.com/Marak/faker.js/blob/master/lib/index.js#L20

You could pass in an additional option as an array of file locations and then iterate on this array and `require` any additional files you may need.

If that isn't good enough, you could try adding a `Faker.pro

[2015-12-27 05:33] john-kurkowski commented on #318
Glad the class is already factored out!

I think there is still a necessary code change: exporting the constructor. #321 is an example of this. Is there another or better way?

[2015-12-27 07:06] Marak commented on #318
The `Faker` constructor is already exported.

see: https://github.com/Marak/faker.js/blob/master/lib/index.js#L133

[2015-12-27 17:31] john-kurkowski commented on #318
I can see how to get it via a Node.js `require`, yes. But I'm following the README's browser example, trying to plainly execute [build/build/faker.js](https://github.com/Marak/faker.js/blob/v3.0.1/build/build/faker.js). Here are the steps I followed. At the end, I open [this HTML gist](https://gist.github.com/john-kurkowski/7acbad019c9f2b884b82) in my browser. The `console.log` output suggests the

[2015-12-29 14:40] kauegimenes opened #323 "[pt_BR] Street suffix should be prefix"
Looks like the locale for pt_BR is generating wrong street names.

https://github.com/Marak/faker.js/blob/master/lib/locales/pt_BR/address/street_suffix.js
[code]
This array should be the street prefix, for example:
Rua XXXXX
Avenida XXXXXX

Currently its generating XXXXX Avenida

Just renaming the file name will work? By looking at the code looks like prefix is not implemented at
https://github.c

[2015-12-29 15:05] tiefenb opened #325 "de_AT ZIP Codes not correct"
http://faker.hook.io/?property=address.zipCode&locale=de_AT

ZIP Codes in Austria starts from min. 1000 to max 9992

"0645" is incorrect

[2015-12-29 15:28] kauegimenes commented on #325
Looks like we will need to change this function to support a min and max https://github.com/Marak/faker.js/blob/master/lib/helpers.js#L37

and create some sort of format here https://github.com/Marak/faker.js/blob/master/lib/locales/de_AT/address/postcode.js to specify the range 1000 to 9992

[code]
Maybe?

[2015-12-29 18:07] yn5 commented on #317
@xergioalex Could you provide a reproduction path?

[2015-12-29 18:14] yn5 commented on #317
@xergioalex Could you provide a reproduction path?

I've tried to find a case where faker.internet.url() would return a url with a space or an á in it with the following code but I couldn't find the issue like this.

[code]

[2015-12-29 22:33] berrberr commented on #317
@yn5 It's because @xergioalex is using a locale that can generate invalid URL characters from `faker.name.firstName()` (eg. [ES locale](https://github.com/Marak/faker.js/blob/master/lib/locales/es/name/first_name.js)).

The best fix is probably to replace the regex [here](https://github.com/Marak/faker.js/blob/master/lib/internet.js#L53) to reject everything _except_ valid URL characters.

[2015-12-29 22:46] yn5 commented on #317
Thanks @berrberr. In that case this relates to https://github.com/Marak/faker.js/issues/283 and https://github.com/Marak/faker.js/issues/294. What about fixing all of them by implementing https://www.npmjs.com/package/urlify? We could delegate the creation of valid urls completely to a dedicated library that way. What do you think @Marak?

[2015-12-30 06:59] yzkee opened #328 "Invalid date of birth"
Month 0 was generated
![dob](https://cloud.githubusercontent.com/assets/5499985/12047413/edf15b74-af05-11e5-8efc-ba3779920ee0.PNG)

[2015-12-30 17:04] jory commented on #328
That's actually valid, see [Date.getMonth()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getMonth).

[2015-12-30 17:06] natzar commented on #328
Valid as date for computers, but if you are generating human data ... I'll fix it.

[2015-12-30 17:09] jory commented on #328
Should just require the addition of a `+ 1` over here https://github.com/Marak/faker.js/blob/master/examples/browser/index.html#L122

[2015-12-30 17:19] natzar commented on #328
Done. Tried to mantain simplicity. Comment added.

[2015-12-31 23:56] zachpanz88 opened #331 "Gender of images and names do not match"
I don't know much node and therefore I am submitting an issue rather than a PR.

Often times a name will be generated that does not match the gender of the person in the profile picture.

Possibly a patch could be created where names and images are tagged with a gender, and therefore the gender of the name will match the gender of the person in the image. This would help give a more realistic feel

[2016-01-07 16:33] jdrew1303 opened #332 "Using regexes to generate some of the random data"
Hi all,

Ive been working on merging some of the ideas for credit card generation that are in the pull requests and cleaning them up. During testing I was using regex (along with the luhn check) to make sure the cards had the right format. It got me thinking if it would be possible to generate a string from a regex. [It turns out that there is a library that can do this.](https://github.com/fent/r

[2016-01-07 16:47] Marak commented on #332
@jdrew1303 -

I'd be interested in seeing a reduction of complexity if we could include `regexp` project. I've actually looked into incorporating this project into `faker` before.

I would recommend you first review the existing methods we have to helping generate fake data.

https://github.com/Marak/faker.js/blob/master/lib/helpers.js
https://github.com/Marak/faker.js/blob/master/lib/fake.js

I w

[2016-01-07 20:28] jdrew1303 commented on #332
@Marak

Sure no problem. Ill try to pick something meaty that can show the reduction. It might also allow us to generate the unit tests automatically for a lot of the functionality.

Can I ask what stopped you using it before? (Just to see if its still an issue or not.)

[2016-01-07 21:56] Marak commented on #332
Nothing stopped me. I was able to move forward with the functionality I required at the time using some of the now existing `faker` methods.

[2016-01-08 01:30] jdrew1303 commented on #332
Ah ok. Thats fair enough.

I've submitted a few examples in the pull request. I think that using metaprogramming and the localised data files we could use this to handle most of the randomisation. The good thing about it is that it could be quite quickly ported to other languages just by porting the engine.

[2016-01-12 10:49] tiefenb commented on #325
yes, I think this would help

[2016-02-02 19:59] achtan opened #336 "SK locale not working"
Hi, `sk` locale not working, i'm getting `en` locale results, my code:
[code]

[2016-02-05 10:56] Niels-NTG opened #337 "Improved city name generation"
I can't help but notice that the cities Faker generates are almost always constructed of a first name or last name with a typical place name suffix or prefix. I guess this might make sense in most English speaking parts of the world. But very rare in places like The Netherlands, Germany and other nations in continental Europe.

This could be improved by pulling random names from real places from t

[2016-02-06 02:49] Marak commented on #170
@cliffpyles -

Any updates? I'll be publishing a new version of faker soon, would like to include this.

[2016-02-06 23:43] cliffpyles commented on #170
@Marak I've been pulled away to work on some other stuff. I'll pick it back up this weekend. When do you want it completed by?

[2016-02-07 21:57] #328 closed

[2016-02-07 22:01] Marak commented on #294
Fixed in master.

[2016-02-07 22:01] #294 closed

[2016-02-07 22:01] Marak commented on #283
Fixed in master.

[2016-02-07 22:01] #283 closed

[2016-02-07 22:09] Marak commented on #318
@john-kurkowski

Thank you for the detailed explanation. I now understand issue.

I have reviewed #321 and have taken note.

Due to the nature of the issue I will make the necessary changes on my end with a new commit.

Thanks again for your contributions!

[2016-02-07 22:59] Marak commented on #306
`faker.random.uuid()` should work

[2016-02-07 22:59] #306 closed

[2016-02-07 23:00] Marak commented on #280
As discussed, I'm keeping a CHANGELOG of the next round of changes coming for the release.

If you could help provide any back-data to add from previous version, that would help.

[2016-02-07 23:00] #280 closed

[2016-02-07 23:03] Marak commented on #331
@zachpanz88

The source of images we use doesn't provide this.

What would be nice, is if we started a new folder in the project for local assets. If you pulled all the open-source images available from amazon and put them into a directory, we could then tag them in our locale data by gender.

If you can get the images checked into the repo we can start to figure out how to tag them.

Moving forwa

[2016-02-07 23:04] Marak commented on #312
I'll need more details for this.

I believe the random image methods provide a height and width parameter...so that should be able to return a square?

You tell me.

[2016-02-07 23:04] Marak commented on #290
Not exactly sure what you are asking for.

More details would be nice.

[2016-02-07 23:05] Marak commented on #299
I'm open to suggestions on this.

[2016-02-07 23:19] corysimmons commented on #312
I don't think it accepts any params? It's not documented anywhere anyway

http://codepen.io/corysimmons/pen/GoYbRK?editors=0010

[2016-02-07 23:20] #267 closed

[2016-02-07 23:44] Marak commented on #312
Hrmm.

Is seems to be there?
https://github.com/Marak/faker.js/blob/master/lib/image.js#L5

Maybe only in master?

On Mon, Feb 8, 2016 at 4:49 AM, Cory Simmons <notifications@github.com>
wrote:

[2016-02-07 23:56] corysimmons commented on #312
Hmm, `faker.image.imageUrl(500, 500)` works but not `faker.image.image(500, 500)`.

Do you think you could add documentation for the options associated with each method?

[2016-02-08 00:02] Marak commented on #312
I'll double check the image API before the next release.

Documentation is being worked on at #170

Thanks for the bug report.

[2016-02-08 00:08] corysimmons commented on #312
Cool, thanks for the cool tool. =)

[2016-02-08 01:00] Marak commented on #170
@cliffpyles

I've actually got some local changes that will help you moving forward.

I'll review and merge what you have and see if I can combine our efforts.

I'll try to update this before Friday. Until then, I would refrain from updating any other modules.

Thank you for your continued contributions.

[2016-02-08 01:21] #273 closed

[2016-02-08 01:22] Marak commented on #274
@lykmapipo -

Agreed!

I've made a note and will see what I can do for the next release.

Thank you for your contribution.

[2016-02-08 01:34] Marak commented on #278
@blakeembrey

I still really like this idea, but I can't conceive of an easy way to pull it off.

What I don't understand is that it seems we only have two choices for making this work. Hopefully, I am wrong and you can correct me.

1. Generate random results in a loop until we generate a result which matches the constraint criteria
2. Create a script that populates the library with a set of new d

[2016-02-08 01:44] #336 closed

[2016-02-08 01:45] Marak commented on #336
Good catch @achtan !

I've pushed a fix and this should be resolved in `master`. This will be included in the next release.

Thank you for your contribution.

[2016-02-08 01:47] Marak commented on #270
That is a good question @brianmcmillan

Maybe @norato can clue us in with #282 ??

[2016-02-08 01:52] Marak commented on #161
@komfushee

Thanks for taking the time to quickly look at the faker demo. Try to understand faker supports over 30 localities and the simple demo web page isn't designed to drill into each one.

If you look at what the `faker` API actually supports, you will find all the data and methods you require.

https://github.com/Marak/faker.js/blob/master/lib/locales/fr/address/street_prefix.js
https://git

[2016-02-08 01:52] #161 closed

[2016-02-08 01:54] Marak commented on #257
@samirgit

Any luck with this?

Adding a new locale is pretty easy! All you have to do is copy an existing one and start changing the data. Everything else is automatic.

[2016-02-08 01:57] Marak commented on #337
@Niels-NTG -

I feel like some of the locales actually have city data, maybe not.

If you are able to make a pull request adding arrays of common cities to any of the locales, it would be very much appreciated.

Thank you for your feedback.

[2016-02-08 01:58] Marak commented on #305
@hellboy81 -

I'm not entirely sure what these are, so I am not able to add them.

A pull request would be welcomed.

If anyone is interested in working on this, please do so.

[2016-02-08 02:00] Marak commented on #285
@gberger

Sounds good.

A pull request would be welcomed.

[2016-02-08 02:01] Marak commented on #285
Or it could just return from a pool of my addresses every-time. I'm also good with that.

[2016-02-08 02:03] Marak commented on #222
@afanasy

That sounds nice.

We could probably do it with a simple local look-up table and some approximation.

Will accept a pull request or even just a basic implementation.

Thanks!

[2016-02-08 11:26] Marak commented on #170
@cliffpyles

I've gone ahead and merged your branch into `master`.

What I've done is created a script which generates complete mschema definitions based on the both the structure of the project, and any available in-line schemas.

For any methods which are missing schema definitions, the script parses the function code and is able to pull out the argument names as strings. From here, I assign the

[2016-02-08 14:57] cliffpyles commented on #170
@Marak That sounds awesome. I'll get the remainder done this week.

[2016-02-08 21:16] afanasy commented on #222
@Marak thanks! Didn't have time to adopt my implementation for the faker
lib, but it's in my todo list!

On Mon, Feb 8, 2016 at 3:03 AM, Marak <notifications@github.com> wrote:

[2016-02-08 22:50] cliffpyles commented on #170
@Marak address.city allows for one of four formats to be specified, but the format is passed as a number which represents the index of a format, which is contained in an array. It isn't immediately clear how this argument works, unless you dig into the source. Any thoughts on good ways to capture this type of scenario in the schema? Maybe some sort of map for indexes to formats?

[2016-02-08 22:56] blakeembrey commented on #278
Hey! I'm not sure when I'll have time in the near future to actually follow through with this, which is unfortunate. I'm happy to keep this open in case someone else wants to give it a shot :smile:

As for the options, number one is definitely not good (it might never happen, for example). I don't think number two is much bloat - most of it should be easy to separate in a useable way without any b

[2016-02-09 01:59] Marak commented on #278
That sounds like it would add an order of magnitude worth of data?

I'd need to see an actual pseudo code implementation to understand.

[2016-02-09 02:57] blakeembrey commented on #278
@Marak What's the better trade-off of data vs startup perf? Either the data could change to fit the model, or it could just be put into buckets during initialization. Here's the code example of the second option:

[code]

I realised the double random number idea above can't work because of the distribution. Guess it's been a while since I thought about this, but I've addressed it above with what t

[2016-02-09 07:49] Marak commented on #278
@blakeembrey -

Thanks for the follow up information.

Performing the normalization at start-up doesn't seem as bad. Performing it at run-time with a cache might be even better.

My primary concerns are both library size and startup time. Currently, the default faker package contains everything ( all faker modules + all faker locales ). We do have individual packages per locality, and it is possib

[2016-02-09 09:07] Marak commented on #170
@cliffpyles -

I suspect improving the uniformity of API calls will come up a few times as we implement schema API contracts for every method.

I would suggest you skip any methods which do not have straight forward API contracts. Make a note of each irregular API call.

Once we have a better idea of what API calls are irregular, we can figure out the best way to provide a uniform API for the enti

[2016-02-09 21:56] blakeembrey commented on #278
Not exactly.

Want to be able to generate random payloads based on schemas (either JSON, XML, etc). For better fake data generation, it'd be possible to infer "name", "address", etc. and creating something that fits the constraints defined in the schema. Then the payload can be used to make sure APIs are correctly implemented against the schema.

[2016-02-10 10:47] Marak commented on #316
@xergioalex -

Maybe.

I guess there is value in being able to return a totally random piece of data.

I've made a note and will come back to this after some thought.

[2016-02-12 09:50] Niels-NTG commented on #337
I've noticed that faker.js completely ignores the city format defined in `lib/locales/[some locale]/address/city.js` and instead uses a random one defined in this array in [`lib/address.js`](https://github.com/Marak/faker.js/blob/master/lib/address.js):
[code]

This is a shame because their already some locales that have different formats defined in their `city.js` files. The France locale for exa

[2016-02-12 10:04] Marak commented on #337
Good catch!

I'll see if I can sort it out.

[2016-02-12 13:43] Marak commented on #325
Will accept a pull request to fix this.

[2016-02-12 21:30] Niels-NTG opened #339 "Use name formats from definitions in `lib/locales/[locale]/name.js`"
Similarly to issue #337 I've noticed that the formatting for names as defined in `lib/locales/[locale]/name.js` get ignored in favour one of two predefined formats in [`lib/name.js`](https://github.com/Marak/faker.js/blob/master/lib/name.js).
[code]
This should be replaced by picking a random format from the definitions array of the current locale. [For example](https://github.com/Marak/faker.js/b

[2016-02-13 03:08] Marak commented on #339
Good catch @Niels-NTG!

I believe a few of the localization fields are being ignored, specifically ones dealing with formatting.

I've now made a note of this and have previously noted #337

I'll see if I can have both of these issues resolved for the new release.

If you find any other fields or data definitions which are being property utilized, please let me know. We are always looking for ways

[2016-02-15 12:19] #274 closed

[2016-02-18 12:39] udanpe opened #343 "Faker generate a non-existent ip-address"
I think it's bug! I use geoIp2 and for dev I need real ip.

[2016-02-18 20:17] hamzaOp opened #344 "Using date.between"
I want to generate some dates between two fixed values , but in the [demo](http://marak.com/faker.js/#date)  `faker.date.between` just returns `null` with no example how to use it.

[2016-02-18 20:23] Marak commented on #344
Try reading the API documentation or reading the unit tests.

The demo currently provides a very basic and generic auto-generated interface for accessing the core API.

[2016-02-18 20:37] hamzaOp commented on #344
Thank you , it worked

    self.between = function (from, to) {
      var fromMilli = Date.parse(from);
      var dateOffset = faker.random.number(Date.parse(to) - fromMilli);

      var newDate = new Date(fromMilli + dateOffset);

      return newDate;
     };

[2016-02-18 22:30] #344 closed

[2016-02-29 07:36] hongkongkiwi opened #346 "Fake Hashes (feature request)"
Can we add MD5 & SHA hash functions for faking?

I would like to deal with random filehashes for testing.

[2016-02-29 20:07] eliotsykes opened #347 "Faker.js Bookmarklet for developers and testers [FEATURE REQUEST]"
Bookmarklet that finds all form fields and guesses from the element attributes to autofill them with appropriate faker data.

[2016-03-01 17:46] proviral opened #349 "Faker.fake - mustache parsing of parameters failing"
Version:
faker@3.0.1

Example:
{{lorem.words(1)}}

Stack Trace:
node_modules/faker/lib/fake.js:45
      throw new Error('Invalid method: ' + parts[0] + "." + parts[1]);
            ^
Error: Invalid method: lorem.words(1)
    at Faker.fake (node_modules/faker/lib/fake.js:45:13)
    at generateFakeData (test/test-reports-blockedRequestReport.js:71:21)
    at Object.<anonymous> (test/test-reports-blo

[2016-03-01 17:46] proviral commented on #349
I pull the fake function locally and it works

[2016-03-01 17:51] Marak commented on #349
Will prepare a new release from MASTER soon.

[2016-03-03 09:49] Marak commented on #317
@yn5 - I don't think I'd like to add 300 lines of code just for that functionality.

Has this been fixed in master with https://github.com/Marak/faker.js/pull/326 ?

Do we need to modify the regex?

[2016-03-03 10:14] Marak commented on #309
Fixed in MASTER with https://github.com/Marak/faker.js/commit/d2a70d71817e2b4e1062a0bc777933705bf1c626

[2016-03-03 10:14] #309 closed

[2016-03-04 07:02] #312 closed

[2016-03-05 18:38] fxnn commented on #339
Same for companyName, city, streedAddress, secondaryAddress. Basically you could just grep for locale files using the `#{xyz}` syntax somewhere, because though they are used very often (at least in the german locale), I can't find any mechanism to parse them.

[2016-03-05 20:40] Marak commented on #339
@fxnn - You are correct, the parsing code for the additional locale format data was never implemented, just the format themselves was.

I think it's about time we start using this data. A Pull Request would be appreciated. It may not be super easy to do, but it shouldn't be very hard.

If no one else can address this I can try to fix it myself.

[2016-03-08 11:59] jdrew1303 commented on #332
Based on pull #333 then this should also be closed.

[2016-03-08 11:59] #332 closed

[2016-03-16 15:19] anujk0292 commented on #343
Its fake data. It has nothing to do with existence of ip.

[2016-03-19 08:18] greyhwndz commented on #316
The exclusion feature would really be great! :+1:

[2016-03-19 08:39] greyhwndz commented on #297
Is it possible to generate random real city name given a country?

[2016-03-19 09:03] greyhwndz commented on #349
@Marak, the library is great and I am enjoying it's use! :+1:
Is there a plan to support the following?
`faker.fake('{{list.random(name.firstName, name.lastName)}}_{{random.number({min:200, max:9999})}}@test.com'`
It would be great to do something like that :)

[2016-03-19 13:36] udanpe commented on #343
its helper and add real ip its good idea!

[2016-03-20 02:09] ashpr opened #354 "commerce.js test fail when randValue == min"
Stumbled across this when running tests.

If you hardcode [randValue](https://github.com/Marak/faker.js/blob/master/lib/commerce.js#L58) to equal min, the unit tests will fail [here]
(https://github.com/Marak/faker.js/blob/master/test/commerce.unit.js#L80).

Or just run the tests enough times so that min will be rolled.

May try and fix it myself later if I get some time.

[2016-03-20 03:33] Marak commented on #287
Going to bump to `v3.1.0`

`master` is prepped for release, we also have JSdocs up at http://marak.github.io/faker.js/

Should release tomorrow.

[2016-03-20 12:25] ashpr commented on #343
I don't think it's a good idea. What if we used real email addresses for test data? Fake data should be exactly what it says it is. Fake. If we start using real-world data it's not fake any more.

If you need real geographical IP addresses, consider querying a SOCKS proxy on here: http://sockslist.net/

[2016-03-21 00:22] Marak commented on #347
Sounds cool!

Someone should build it as a separate app which uses faker as a dependency.

I'd be glad to list it on the faker.js README.

[2016-03-21 00:24] Marak commented on #285
@gberger -

I'm not sure bitcoin address generation is that simple.

Have you actually tried generating "fake" bitcoin addresses using this technique and checking them against the blockchain?

[2016-03-22 15:56] eliotsykes commented on #347
Not quite the same but found this which is a related bookmarklet for filling out forms for anyone landing on this: https://formfillerjs.com/

[2016-03-24 00:57] axelson opened #355 "Feature request: random.alphaNumberic could take a length as a parameter"
Feature request: random.alphaNumberic could take a length as a parameter and generate that many characters.

[2016-03-24 01:13] Marak commented on #355
Sounds good!

Pull request would be welcome.

[2016-03-24 13:02] Jack12816 opened #356 "The new return type of lorem.words is a breaking change"
Hey,

I expected a BC with upgrading to 3.1.0 because of #293. This changed the return type of `lorem.words` from array to string.

Would it be clever to roll this back and put a bugfix version upon it?

[2016-03-24 21:44] nikita-gazarov-hs commented on #356
Such a breaking change should increment the major version.

[2016-03-24 21:47] Marak commented on #356
Yeah, I'm not sure a major version change should be used for such a small difference.

From what I can remember, returning an array was a bug and never the intended behavior.

If you use `3.0.x` it should be the old behavior? I'm not sure what I could do to help with this moving forward. Let me know.

[2016-03-24 21:54] nikita-gazarov-hs commented on #356
There is no documentation for what datatype "words" is supposed to return, so there is no record of intended behaviour other than the implementation. The implementation was returning an array in 3.0.x.

I don't know what part of this breaking change is minor, honestly. It's breaking every usage of a popular method. If you follow semver, you should bundle up such breaking changes in major releases.

[2016-03-24 21:59] Marak commented on #356
Was always a bug in that in was returning array and not string. Never was the intended behavior.

If it's a problem for you, don't upgrade, or submit a pull request with a bug fix for the previous version.

[2016-03-24 23:12] eccegordo opened #357 "example website doesn't work in Safari browser"
The example website doesn't seem to work in Safari.

I think Safari is picky about date string format.

![faker_website_157x24](https://cloud.githubusercontent.com/assets/497659/14033839/dd387160-f1da-11e5-9650-e7b792952553.png)

[2016-03-24 23:17] Marak commented on #357
That's good to know!

If you have a patch please let me know.

If not, I will investigate and take a look soon.

[2016-03-24 23:27] eccegordo commented on #357
Don't have a patch off hand but I think the issue is Safari on Mac chokes on parsing certain date formats as strings.

http://stackoverflow.com/questions/3085937/safari-js-cannot-parse-yyyy-mm-dd-date-format

Anyway, useful project. Easy to use. Great work!

[2016-03-25 09:21] Jack12816 commented on #356
It broke an stable productive application with a minor upgraded of this library. If you don't follow semver, then please don't use semver notation! I would recommend to rollback the behavior or make a major version upgrade.

Even if it was always a bug, all application which makes use of it are broken by an update. You can't change the API in a breaking way and don't care about your users. Not coo

[2016-03-25 15:26] Marak commented on #356
I've been asking for comments on this release for the past six months. Thanks for your feedback.

see: https://github.com/Marak/faker.js/issues/287

If you want to complain, go for it. If you want to see this changed, make a Pull Request.

Try not to mistake my lack of time for a lack of caring.

[2016-03-25 16:55] Marak commented on #356
I also haven't specified the usage of Semver for this project anywhere.

Generally for my projects anything in the `x.y.z` range could be considered breaking if `x` or `y` changes.

If you want to ensure the stability of your projects you should be locking your dependency versions anyway.

I can't stress enough that it's not my responsibility to ensure the stability of your applications. For all m

[2016-03-30 06:29] hellboy81 commented on #346
+inf

[2016-03-30 06:34] Marak commented on #346
We keep getting requests for this type of data, but I still don't understand what a "fake" md5 or sha is.

The way I see is that you can require another library that will generate a real md5 or sha. I won't take in any deps that do this in faker. Too much bloat.

A good alternative might be to pre-generate sets of a lot of types of valid keys for all algorithmes. Maybe 10 or 100 per encryption typ

[2016-03-30 06:36] Marak opened #359 "Add crypto module"
Capable of generating keys for all types of encryption algorithmes

[2016-03-30 06:36] Marak commented on #346
#359

[2016-03-30 06:36] Marak commented on #285
#359

[2016-03-30 06:37] Marak commented on #306
#359

[2016-03-30 06:38] Marak commented on #262
#359

[2016-03-30 06:38] Marak commented on #233
Lorem has been improved in latest `v.3.1.0` release.

[2016-03-30 06:38] #233 closed

[2016-03-30 06:42] Marak commented on #356
I'm closing this.

Sorry if I caused anyone any real issues.

Please. Please. Please. If you are doing a continuos integration deployment that uses `package.json` at all. PLEASE lock your versions in using something like `3.0.1`. Use that same technique that for all your production packages. You can keep you development `package.json` locked into `*` for all I care.

[2016-03-30 06:42] #356 closed

[2016-03-30 06:46] Marak commented on #359
hello @hellboy81

[2016-03-30 08:52] hellboy81 commented on #359
Hello!

[2016-03-30 18:42] Marak commented on #359
@hellboy81 - Can you make a list of all types of keys we can generate?

[2016-04-04 11:48] mijamo opened #361 "faker.finance.amount does not randomize the digits anymore"
Hello, I was using faker 3.0.0 and everything was working perfectly. When I updated to 3.0.1 (and same with 3.1.0), faker.finance.amount now only provides "000" as digits.

Code:
[code]

Pre-3.0.1:
[code]
3.0.1 - 3.1.0:
[code]

I don't think this is the expected behaviour.

[2016-04-04 20:41] krzkaczor commented on #355
Hi!
I also needed that feature. Here's PR: https://github.com/Marak/faker.js/pull/363

[2016-04-05 13:59] fabiomartins87 opened #364 "Faker images stopped working because lorempixel.com is down."
Lorempixel.com is down for several days. Request faker images is failing because of it. I guess we should change service. I don't know many but I would suggest [Lorem Flicker](http://loremflickr.com/) which has a similar API. Although, it feels a lot slower compared with LoremPixel.com

[2016-04-11 10:51] webia1 opened #367 "Creating own (depended) data-sets (like software-product-name, software-product-description)"
Hello dear faker team,

how can I create own data-sets (maybe a link to a tutorial for me) ?

Second question: The description should come from corresponding software-product-name, how could I achieve that? (depended data sets -> software and its description)

thank you!

[2016-04-11 10:54] Marak commented on #367
just look at how the other data sets are included in the library and follow the same pattern

you are welcome!

[2016-04-13 19:37] DanielJoyce commented on #349
Yeah, object style parameters in mustache templates are not processed properly. Failing for me.

[code]

[2016-04-13 23:34] donpark opened #368 "Faker.fake("{{random.uuid}}") throws error in version 3.1"
`Faker.fake("{{random.uuid}}")` throws:

[code]

but not in version 3.0.1.

Calling `Faker.random.uuid()` directly also works.

String format version may be mishandling `this` binding in version 3.1.

[2016-04-14 08:39] webia1 commented on #367
Thank you, creating of data sets is not the problem, my question is, how can I generate random entries from depended data structures:

    software: {
        1: {
            name: "X",
            description: " Description of X"
        },
        2: {
            name: "Y",
            description: " Description of Y"
        },
       ....
       ....
    }

If I generate random values with l

[2016-04-15 11:47] Marak commented on #287
Was released a few weeks ago.

Cheers!

[2016-04-15 11:47] #287 closed

[2016-04-19 09:10] MarcelDe opened #371 "Dutch locality issues"
The faker output for Dutch is wrong on some fields:
BE AWARE Dutch is not a country by a language. There are several countries using Dutch as language, but they should have a different locality (Netherlands, Belgium Vlaams)

Below is the correct format

Data of brith: d-mm-yyyy
Street Address: street_name number
City, State Zip: The Netherlands has no states, so this should be something like 5045A

[2016-04-19 09:29] Marak commented on #371
Related: #337 #338

[2016-04-19 09:30] Marak commented on #371
@MarcelDe - A pull request to resolve this would be welcomed.

Thanks!

[2016-04-28 04:26] skylarstein commented on #368
Fixed in PR https://github.com/Marak/faker.js/pull/374

[2016-04-30 08:40] luisgarciaalanis commented on #361
I am seeing the same problem on node 6.0.0

[2016-04-30 08:45] Marak commented on #361
I'm seeing the same behavior.

Does anyone know why?

A Pull Request is welcomed.

[2016-05-02 23:25] awfulaxolotl opened #375 "Faker breaks source-maps"
Hello!

When included into a Webpack project, the source-maps generated are unable to be parsed by the browser. Unfortunately I don't know what additional details can be provided, as the error is pretty opaque :(

Environment:
Faker v3.0.0-3.1.0 (at least)
Webpack v1.13.0
Babel v6.5.2
Google Chrome 51.0.2704.29

Let me know if I can provide any more details!

[2016-05-04 17:35] jimf opened #376 "Make public API context-agnostic"
Current, many of the functions exposed in this lib must be called within the correct context. I'd like to be able to call them in a more free form for composability. Example:

[code]

I'd be happy to submit a PR for this. However, since it's potentially a breaking change (one would be unable to redefine the `this` binding), I just wanted to get a +1 on it before continuing down that path.

[2016-05-04 18:01] Marak commented on #376
Sure. Can you do the most minimal proof of concept possible? Perhaps one method?

That way we can review before going further.

[2016-05-04 18:23] jimf commented on #376
Sure. I was thinking that at a high level, within the index, I'd loop-over/decorate the module instances and [bindAll](https://lodash.com/docs#bindAll) the [functions](https://lodash.com/docs#functions) on those instances to the instances themselves (linked to lodash for clarity; open to solutions with or without an explicit dependency). Hopefully that makes sense. If you'd like a more concrete ex

[2016-05-04 18:27] Marak commented on #376
No external deps. Vendor a specific method if you need it.

Faker.js is used by a lot of people. Please keep that in consideration when making cross-cutting changes.

I'll need to see code changes as Pull Requests in order to review any potential changes. Don't worry if an specific PR actually gets merged.

[2016-05-04 18:40] jimf commented on #376
Cool, sounds good. Not sure when I'll have time to work on this, but I hope to have a PR up in the next day or two.

[2016-05-19 02:38] #331 closed

[2016-05-25 05:45] niksmac opened #380 "Error when querying property=commerce.xx"
Sample request
[code]

response
[code]

[2016-05-25 05:49] Marak commented on #380
Seems to need adjust the webservice schema to latest faker version.

I'll try to do an update / revamp of the webservice this weekend.

If you feel like trying to on your own, here is the source http://faker.hook.io/source

You can fork a copy of the service by visiting: http://faker.hook.io/fork , then signup for account. Should be automatic forking.

[2016-06-13 20:32] zpiman commented on #169
Ehm... Hello, is this this still alive? I sort of implemented this feature....

[2016-06-13 20:42] awinogradov commented on #169
nobody here :( it's already unneeded feature :(

Sent from my iPhone

[2016-06-13 20:45] zpiman commented on #169
Well I needed it :smile:... From what I understand, the last attempt to add it failed because of library licensing problems...

[2016-06-13 21:36] zpiman opened #383 "[feature request] Scheme markup"
Some of the schemes would really benefit from this simple markup based on the RegExp syntax. To be honest, I have no idea what it is called or if it is a thing. However I noticed it is used in the `credit_card` definitions and I think it could be rather useful. What I am talking about is a simple string markup similar to regular expressions that makes it easy to generate random numbers in strings

[2016-06-21 10:25] pogopaule opened #384 "http://marak.com/faker.js/ is down with a 404"

[2016-06-21 13:58] laravelish commented on #364
it works but it's crazy slow

[2016-06-24 09:10] 0wczar commented on #384
When it come back?

[2016-06-25 16:41] nightire commented on #384
FYI: http://marak.github.io/faker.js

[2016-06-27 09:31] 0wczar commented on #384
But it is not are real examples!

[2016-07-01 13:48] Prinzhorn commented on #346
Wouldn't something like `random.hex(length)` work for most of these things?

md5: `random.hex(32)`
sha-N: `random.hex(N / 4)`

[2016-07-01 19:01] zpiman commented on #346
I agree with @Prinzhorn! Since these hashes are cryptographic, they should be indistinguishable from random data. If you need real hashes of, say passwords or usernames, then you should combine faker's output with a crypto library such as https://github.com/sytelus/CryptoJS or https://github.com/brix/crypto-js. The first one in particular is Google's collection of verified crypto functions. Reimpl

[2016-07-05 14:53] Aleyasen opened #387 "Latitude/Longitude within a country [feature request]"
It'll be great if faker.js can generate lat/long within a country. Also within a rectangle (or a circle) is appreciated.

[2016-07-06 11:48] vishivish18 commented on #384
@Marak Any update ?

[2016-07-06 13:50] nightire commented on #384
The real working example is already included in this repo: https://github.com/Marak/faker.js/tree/master/examples/browser

Just clone it & open it in your browser, how hard could it be?

[2016-07-06 14:09] vishivish18 commented on #384
@nightire Thanks

[2016-07-06 14:10] 0wczar commented on #384
@nightire thanks.

[2016-07-06 21:41] sky-coding commented on #375
We've encountered this issue with Chrome being unable to parse our sourcemap when Faker is included. Firefox and IE do not have the same problem. Can this be resolved, or is there a way to exclude faker from the webpack sourcemaps?

[2016-07-06 21:46] Marak commented on #375
That's odd. We are using pretty standard build tools.

I can look into updating `gulp` and company. That might help?

[2016-07-06 22:35] sky-coding commented on #375
I've created a stripped-down repo for reproducing the problem: https://github.com/sky-coding/webpack-faker-demo

Run `npm i && npm start` to run the webpack dev server. You should see `Failed to parse SourceMap: http://localhost:4200/main.map` in the console on Chrome 51, and the entirety of the sourcemap is Faker.

[2016-07-08 23:36] Aleyasen opened #388 "Exception during build"
When I build using `npm run-script build`
I got the following error:
[code]

[2016-07-08 23:41] Aleyasen commented on #388
I changed the nodejs version and it works now.

[2016-07-08 23:41] #388 closed

[2016-07-11 07:03] jreina commented on #361
As I understand the source code, faker.finance.amount is taking the output of faker.random.number and multiplying by 10^4. After which it rounds, but there is no rounding to be done since the int will always end with zero. It then divides by 10^4, which gives the original output of faker.random.number.

Working on a PR.

[2016-07-11 15:00] jocull commented on #384
I miss the old page because I would frequently pop open a console and play with faker right there on the site for new samples. It was more convenient than having to clone something or fire up a REPL.

[2016-07-11 16:04] lolmaus commented on #384
Same.

[2016-07-11 23:19] Marak commented on #364
If anyone has any suggestions for improving lorem images please let me know.

[2016-07-11 23:23] Marak commented on #375
Who is generating the source map? I have no idea what a `webpack` is.

Looks like is trying to require faker package and build using the `webpack` https://github.com/sky-coding/webpack-faker-demo/blob/master/src/index.js#L1 ??

Faker has browser builds here with the `gulp`: https://github.com/Marak/faker.js/blob/master/build/build/faker.min.js

If issue with `webpack` I have no idea. You tell me a

[2016-07-11 23:24] Marak commented on #361
@jreina - Any updates?

I am preparing next release of `faker` and would like to fix this.

Thank you!

[2016-07-11 23:25] Marak commented on #384
I will try to fix now, sorry for the downtime. I think Github updated some of the non-public APIs I was using.

[2016-07-11 23:27] Marak commented on #349
Resolved in `master`. New release coming soon.

[2016-07-11 23:27] #349 closed

[2016-07-11 23:35] jreina commented on #361
@marak I have implemented a fix, but I have yet to build/run tests. I will get it done tonight.

Thanks!

[2016-07-12 02:21] sky-coding commented on #375
`Webpack` is a build tool that can be thought of as an equivalent/replacement for `grunt` or `gulp`, it takes a project's source code, and its third-party vendor code, and bundles into minified, optimized javascript files. It has an option to generate sourcemaps for these files, to allow you to step through and debug using non-minified code (the original source code).

I would not mind simply excl

[2016-07-12 18:28] #361 closed

[2016-07-12 21:07] Marak commented on #375
I'm not sure. I know our `faker` build should work in the browser.

If there is an issue with `webpack` it should be resolved there.

If we can make a change to `faker` that will help, please let me know and I'll merge.

[2016-07-27 10:57] 0wczar commented on #384
& pls fix working `https://github.com/Marak/faker.js/tree/master/examples/browser` on safari (OSX).

[2016-07-29 16:32] fernandocanizo opened #396 "Implement faker.custom() to receive valid string of characters to build random strings"
*Context:* I need to build valid table names for Postgresql, cause I'm working on a project which creates new tables and now I need to test it. But I also want to omit some characters, in particular I'd like to restrict table name generation to this pattern `/^[a-z_][a-z0-9_]*$/`.

I couldn't find a proper _name generator_ for this use case. I searched opened issues and found issue #319 which prob

[2016-08-12 17:26] am1stad opened #399 "generate an array of N items?"
Is it possible to generate an array of N items on an api call?

I could not find in readme how to do this.

[2016-08-17 07:53] SamuelMarks commented on #399
You can always do this (unoptimised approach):

[code]

There ya go, an array of 50 elements.

[2016-08-17 18:49] si-mikey opened #400 "Zipcode and state don't match"
Is there a way to make faker.address.zipCode match a state, eg.
faker.address.zipCode('NY') and it will generate ny zip codes?

[2016-08-19 02:16] ericclemmons commented on #384
This works:

[2016-08-21 11:17] WattsC-90 opened #401 "random.number precision option needs improvement"
using this code:

`var faker = require("Faker")
var options = {min: 0, max: 10, precision:1}
options.precision
faker.random.number(options)`

i would expect a number between 0 and 10 to be returned, but i just get NaN. looking at the code this is what i would expect to happen.
I am simply trying to understand the methods in order to generate a float, there doesnt appear to be much documentation ar

[2016-08-23 03:10] retrone commented on #237
I just realized that Faker is 74 MB on my system. Has there been more thought about the overall size since last July?

It feels a bit optimistic to me to expect that this won't impact people's build processes. At the least, is it possible to move locales into different repos?

[2016-08-23 14:57] Marak commented on #237
Don't clone the entire repo if you don't want the full size with history...

[2016-08-23 14:59] Marak commented on #237
[code]

**2.44 Megs...learn to git**

[2016-08-23 15:19] retrone commented on #237
Rather than getting frustrated and yelling about my git knowledge, let's go back and forth on this. I like faker, and I want to make it better.

My issue is that faker is 70 MB+ when I `npm install` or have it in my `package.json` (that's something I should have specified, and I apologize for not having done so). This is primarily due to the locales, and is 10X the size of any other package I use.

[2016-08-30 09:04] HowWeRollingham opened #404 "helpers.shuffle on empty array causes an explosion"
[code]

[2016-08-31 16:08] eddiejaoude opened #406 "Demo link does not work, displays a 404 message"
<img width="1680" alt="screenshot 2016-08-31 17 06 50" src="https://cloud.githubusercontent.com/assets/624760/18136699/8c54750a-6f9d-11e6-861a-896e33c25e26.png">

[2016-09-01 17:41] paolo-tanium opened #407 "Spaces break `f.fake()`"
![image](https://cloud.githubusercontent.com/assets/21039701/18177780/ac0d99ce-7049-11e6-8f11-094a1060a078.png)

[2016-09-07 03:41] zbarbuto commented on #406
Duplicate #384

[2016-09-07 06:05] eddiejaoude commented on #406
Thanks @zbarbuto 👍

[2016-09-07 06:05] #406 closed

[2016-09-08 13:29] gotofritz opened #409 "Custom helpers"
Hi. Is there a preferred way to define custom helpers, other than just adding a dynamic method to the faker instance?

[2016-09-13 06:04] nordsimon opened #410 "SHASUM failure from npm"
Hello

The npm install fails due to SHA sum calculation

[code]

Faker 3.0.0 works alright

[2016-09-14 23:13] coryhouse opened #411 "Demo URL listed on README.md throws 404"
This throws a 404: http://marak.com/faker.js/

[2016-09-16 08:03] zbarbuto commented on #411
Duplicate #384

[2016-09-23 00:55] #384 closed

[2016-09-23 02:15] Marak commented on #411
Resolved for now with https://github.com/Marak/faker.js/pull/403

[2016-09-23 02:15] #411 closed

[2016-09-23 02:38] Marak opened #413 "Support Faker Development on Patreon"
I'm looking to put more time into faker.js development and have launched a Patreon campaign to help fund the effort.

[https://www.patreon.com/marak](https://www.patreon.com/marak)

For as little at $10.00 a month, you could help ensure the future of this project. There are rewards for all levels of pledges including getting your logo in the README file ( which currently gets 30k uniques a month )

[2016-09-23 03:04] Marak commented on #410
Try running `npm clean cache` and re-installing?

I believe this is a local npm issue. You may need to update npm.

[2016-09-24 12:21] dmbrooking commented on #343
I disagree. I think the data should be fake within the scope of your system but not fake within the scope of the everything.

If the app has any sorts of validations expecting a valid IP address, a non-valid IP address is useless.

Besides, following the logic of not using real-world data, we'd need to ensure that all IP addresses generated by Faker are 'fake' and not 'real'.

If generating a "rea

[2016-09-24 17:21] Marak commented on #343
@udanpe - What qualifies as a "real" ip address?

I believe the best thing to do here is stick to whatever the RFC says for valid IP addresses.

http://www.faqs.org/rfcs/rfc1918.html

I read that a valid IP address must be in the form of xxx.xxx.xxx.xxx, where xxx is a number from 0-255.

It looks like `faker.internet.ip` is already doing this.

I'd be willing to improve `faker.internet.ip` to inc

[2016-09-25 03:07] paolodm commented on #401
![screen shot 2016-09-24 at 11 06 47 pm](https://cloud.githubusercontent.com/assets/247525/18812740/9b0b7762-82ab-11e6-99ce-c9963c80d235.png)

Seems to be working for me, @WattsC-90.

[2016-09-25 21:40] udanpe commented on #343
@Marak http://www.nirsoft.net/countryip/

[2016-09-26 00:24] paolodm commented on #285
This issue seems closable since Bitcoin support was implemented in #352. If you agree, please close it.

[2016-09-26 01:43] Marak commented on #404
Resolved with #405

[2016-09-28 13:47] jmona789 opened #416 "npm install is failing with 404"
I'm trying to npm install faker.js and I'm getting the following error:

npm ERR! fetch failed https://registry.npmjs.org/faker.js/-/faker.js-2.0.0.tgz
npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 404
npm ERR! fetch failed https://registry.npmjs.org/faker.js/-/faker.js-2.0.0.tgz
npm WARN retry will retry, error on last attempt: Error: fetch failed with sta

[2016-09-28 14:36] Marak commented on #416
Latest published version is `3.1.0`, not `2.0.0`. Package name is `faker` not `faker.js`

Try running:

`npm install faker`

[2016-09-28 14:36] #416 closed

[2016-09-28 15:00] jmona789 commented on #416
Thank you, that worked

[2016-09-30 15:45] rgalus opened #417 "Faker locale generating wrong names"
[code]

Code above is not generating random city names from `/lib/locales/pl/address/city_name.js`. Instead is generating strings that are not in PL language like "Port Teodorborough", or it mix up PL last name with some suffix like "Rucińskimouth", where "Ruciński" is last name and mouth is suffix.

[2016-10-04 12:41] sylvainbannier opened #420 "feature : provide dataURL or images for offline use"
When working offline images URL like the ones provided by `image.avatar` are not available.

Is it possible to provide dataURL or images from the faker package instead ?
maybe like that :
`image.placeholder(width, height)`

[2016-10-04 13:48] Marak commented on #420
Sounds good.

Will accept pull request.

[2016-10-04 18:50] sylvainbannier commented on #420
OK I'll try. which solution do you prefer ? dataurl or static asset in the lib ?
IMO dataurl seems a better choice as it doesn't require to work with filepath to access asset from HTTP

[2016-10-04 23:57] hmaesta opened #422 "Suggestion: make avatars more realistic"
There are a few better options to get avatar images.

1. **http://pravatar.cc** – can generate unique avatar from random value, always show a human face
2. **http://uifaces.com** – uses authorized pictures, but some avatars are not a human face
3. **http://avatars.adorable.io** – abstract and creative

[2016-10-05 09:11] sylvainbannier commented on #420
I made a pull with a minimal implementation providing basic grey rectangle with dimensions.
Is it usable enough ?

`image.dataurl(200,300)` :

![image](https://cloud.githubusercontent.com/assets/452941/19107387/42cb8ae4-8aec-11e6-9fe1-816f4ae08545.png)

do you need some extra features or styles updates ?

[2016-10-22 05:21] pgAdmin commented on #420
@sylvainbannier I think you can add a 3rd optional parameter -  color, which accepts hexcode. Absence or this defaults to grey like it is right now.

Eg: image.dataurl(200, 300, '#005500')

[2016-10-24 06:31] VladimirPal commented on #413
@Marak The link is broken

[2016-10-24 18:51] kristianmandrup commented on #401
I don't understand how to use the `precision` option for `random.number` please document it in readme or in the header comment for the function. All the examples (and default value) use `1`

How do I return a float with a given precision, such as `4.23` ???

[2016-10-24 18:53] kristianmandrup opened #424 "How do I generate a random float with a set number of decimal places!?"
Why no `decimalPlaces` option for `random.number`? What is `precision` used for?

[2016-10-24 18:56] kristianmandrup commented on #424
I now see that there is no such option, it always wraps result with `Math.floor`.
Please add `random.float` with `min`, `max` and `decimalPlaces` option ;)

[2016-10-24 19:03] kristianmandrup commented on #424
I was just about to make a PR, then by trial and error and some logical deduction figured it out.

`'random.number': {min: 1, max: 5, precision: 0.01}`

[2016-10-24 19:03] #424 closed

[2016-10-24 19:56] kristianmandrup opened #425 "Date faker and json-schema date-format mismatch"
Trying to use [date](https://github.com/Marak/faker.js/blob/master/lib/date.js) faker with [json-schema-faker](https://github.com/json-schema-faker/json-schema-faker)

`format: 'date-time'`

`instance.date does not conform to the "date-time" format`

`"date": "Mon Oct 24 2016 14:10:10 GMT+0200 (CEST)"`

Is there a way I can force the Date to string conversion into a compatible format?
I guess I co

[2016-10-24 20:23] kristianmandrup opened #426 "Dependencies need update"
When running `npm i` on latest version.

- Update mocha to 3.x,
- Update browserify to 13.x
- Update gulp to 3.9.x

[code]

[2016-10-24 20:34] kristianmandrup commented on #425
See https://github.com/Marak/faker.js/pull/427

[2016-10-24 20:34] kristianmandrup commented on #426
See https://github.com/Marak/faker.js/pull/427

[2016-10-27 12:33] rollymaduk opened #430 "Error on requiring faker library"
Hi,
Please any ideas on how to fix this error below
`node_modules\faker\vendor\password-generator.js:19Uncaught TypeError: Cannot read property 'localPasswordGeneratorLibraryName' of undefined(…)`
in my browser console when I try to load my page with faker.js library, I am using node and browserfy.

[2016-10-31 16:20] EQuimper opened #431 "Problem with commerce.price()"
I try to get a price data and that work but I get  only number like `743` etc. I follow a tutorial where the guys receive a real price like `$7.43`.

My code

`product.price = faker.commerce.price();`

Do something change from the time the tuts was done. From your docs not look like so...

[2016-11-02 18:57] NickHeiner opened #433 "Publish latest version on npm?"
I would like to use the `internet.ipv6` method, which was added in fc9d5351cd34d741538a364a31d22ae0c0f8101e, from October 1. However, the current version of `faker` on npm is `3.1.0`, which was published `2016-03-21T01:21:12.255Z`.

Can you publish the latest version? Thanks!

[2016-11-03 08:46] xgqfrms-GitHub opened #434 "npm install error! what's wrong with this ?"
**npm install error!
what's wrong with this ?**
![xx](https://cloud.githubusercontent.com/assets/18028768/19959954/f1746002-a1e4-11e6-8da2-e630b40f7023.PNG)

[2016-11-03 11:04] Marak commented on #434
RTFM

`npm install faker`

[2016-11-03 11:04] #434 closed

[2016-11-03 17:04] jasekiw commented on #364
Lorempixel.com is responding at crawling speeds now

[2016-11-03 17:24] randy5235 commented on #433
+1

[2016-11-04 02:47] thanh-taro opened #435 "Sometimes, the faker return invalid email address"
My code is just:

[code]

It often works fine, but sometimes, it returns invalid email like: `.anThn@yahoo.com` or `akiusl.@gmail.com`. Email address should not starts with dot or ends with .@

[2016-11-08 20:05] knownasilya commented on #387
Yeah, like limiting to a bounds or a polygon.

[2016-11-09 00:01] denzo commented on #433
Yes please! Missing a really useful
"`alphaNumeric` now takes count as a argument"
https://github.com/Marak/faker.js/commit/3de06918d890e48e7964de71ca0c95717d6213e5

[2016-11-10 18:04] pushred commented on #413
If Patreon's not quite working out https://opencollective.com is picking up some traction. I'd totally throw $5/mo your way anywhere you can get something up and running. Very helpful project!

[2016-11-10 18:09] Marak commented on #413
Not sure what happened with Patreon???

I got no emails or notice from them saying it went offline.

Will follow-up tonight.

[2016-11-14 17:18] nikmash commented on #400
I'm curious about this too. Anyone know if we can generate state specific zip codes?

[2016-11-14 18:59] si-mikey commented on #400
@nikmash  from the looks of it, it seems just to be random method specific data.

[2016-11-14 19:23] nikmash commented on #400
@si-mikey got it. Not ideal for testing with systems that do geocode resolution.

[2016-11-17 07:32] onigetoc opened #436 "Why not use andomuser.me for fake user data?"
Why not use https://randomuser.me/ for fake user data?

[2016-11-27 11:51] aabanaag opened #438 "Generate different sets of data"
I have a model, `Player` and I'm assigning faker data to default values (btw, I'm using jagi:astronomy and meteor).

[code]

then I'm creating new model via

[code]

But what I got is the same set of faker data for all. Is there a way to generate different sets of faker data?

[2016-12-01 23:41] filipeinacio opened #441 "Path must be a string"
Hi,

I need some help. I'm trying to contribute, and to do so, i'm trying to build the project.

I'm getting this error:
path.js:7
    throw new TypeError('Path must be a string. Received ' + inspect(path));
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:7:11)
    at Object.dirname (path.js:695:5)
....

Can someone help me?

node: v7.2.0
npm: 3.10.9
gulp -v

[2016-12-02 08:19] cihancil opened #442 "Https Images"
Currently random generated images are http.

Since iOS forces to use https on their devices it would be nice if there is a way to only get random https images

[2016-12-05 16:56] jdgriffith opened #443 "Can't install via NPM"
When I try to install faker.js via NPM, I receive a fetch error. Evidently NPM is reporting the compressed library lives here: https://registry.npmjs.org/faker.js/-/faker.js-2.0.0.tgz

But you get a 404 when you go directly to this link. You can also see where NPM's API show this as the proper download location but something is wrong: https://registry.npmjs.org/faker.js.

Can you do anything to co

[2016-12-05 16:58] Marak commented on #443
Package name is `faker` not `faker.js`

Try: `npm install faker`

[2016-12-05 16:58] #443 closed

[2016-12-05 16:59] jdgriffith commented on #443
Ok thanks. Why is it still listed as faker.js even with NPM? Is this a recent change?

[2016-12-05 17:05] Marak commented on #443
Listed where @jdgriffith?

[2016-12-05 17:07] jdgriffith commented on #443
https://www.npmjs.com/package/faker.js

And proper pointers for what to install and how to install would be nice here: https://github.com/FotoVerite/Faker.js There isn't a section under node.js which basically says `npm install faker` unless I am missing it.

[2016-12-06 00:05] maludwig opened #444 "npm needs to be updated to the latest version of this repo"
Hey, I was having some trouble getting Faker to work properly in Nodejs, specifically, I had trouble getting Dates to work properly. The "past" function was 24x smaller than it should have been. Suspecting that a multiplication was wrong, I check this git repo out, and it seemed to include the 24. I looked locally, and sure enough the 24x multiplier was missing. Please update the npm package.

[2016-12-11 17:04] mbeaudru commented on #430
I am encountering the same problem and I can't figure out why I have this error.

Installed with ```yarn add faker``` and importing, this same error pops out.

Did you figured this out ?

[2016-12-11 22:51] rollymaduk commented on #430
Hi @mbeaudru , I fixed this by adding a null checker in the affected file on line 19.
[code]
I have made a PR #445  that addresses this.

[2016-12-11 23:01] rollymaduk commented on #430
@mbeaudru  please let me know if it solved the problem so I can close this issue

[2016-12-22 03:45] canhkieu commented on #430
Same issues, I was changed to but still error/
 localName = root && root.localPasswordGeneratorLibraryName || "generatePassword",

[2016-12-23 09:56] rollymaduk commented on #430
@canhkieu  how did you change it? did you fork the project and use npm link to locally test it? if you did that, then ensure you also removed your global and project modules by either using npm uninstall <package> -g or npm uninstall <package> -D or npm uninstall <package> --save,
you can also post your error logs to help me get a better picture of what is happening!
thanks

[2017-01-05 17:52] hacicavcav opened #448 "Turkish lang big problem"
Faker.js  in turkish info's wrong all . Because like this names don't anyone using. Datas has been turkish character really good. Once problem absurd name, adress, phone  area code and sure emails..
Please change these data. Where you give this infos?

[2017-01-06 00:33] martahj opened #449 "[feature request] allow user to exclude certain words from .words()"
I use `.words()` to simulate test data, and sometimes it comes back with words that cause a validation function to fail. It would be helpful if the user could optionally pass in an array of words to exclude from the output, so that any time those words came up they would be 'rerolled'.

Happy to put in a PR on this too :)

Thanks!

[2017-01-08 14:01] gongzza commented on #410
still getting same error..

[code]

[2017-01-08 17:09] Marak commented on #410
Try

`npm cache clean`

Or updating NPM itself

On Sun, Jan 8, 2017 at 9:01 AM, Gz <notifications@github.com> wrote:

[2017-01-11 22:42] filipeinacio commented on #441
Solved on windows.

In the method "self.lookupPackage(row.file,", row.file was undefined, i had to change to row.id.

[2017-01-11 22:42] #441 closed

[2017-01-12 22:17] alx-andru commented on #308
yep, would be very helpful!

[2017-01-13 14:20] rochdev commented on #433
+1 I also need the `count` argument for `alphaNumeric`

[2017-01-13 14:24] Marak commented on #433
Will try to publish this weekend.

On Fri, Jan 13, 2017 at 9:20 AM, Roch Devost <notifications@github.com>
wrote:

[2017-01-17 23:42] FinnFrotscher opened #454 "meteor faker.locale = 'de' not working"
I run `  faker.locale = "de";`
but all the company and internet stuff is eng.
on 'meteor' using 'practicalmeteor:faker' and no import because the package is global on the server.

[2017-01-24 19:26] yanickrochon commented on #399
@SamuelMarks but it's ugly and awkward. I looked lo and fro in the API for this feature, and came here since I didn't find anything. Of course, the feature is trivial, but would be an interesting feature... even a must have one.

### Method signature
[code]

### Usage
[code]

[code]

Would result in an array from `1` to `5` elements, containing the given objects. In the first case, each array elem

[2017-01-30 07:41] alnour-altegani commented on #257
hi @Marak I started to add arabic locale . when I finish the translation i will send a pull request .
@samirgit can you help ?

[2017-01-30 18:09] jantimon opened #456 "Is it possible to turn off the randomness?"
Hi,

for snapshot testing it would be nice to turn off the randomness is that possible?

Thanks :)

[2017-01-31 23:52] jongunter opened #457 "Generate Fake Cardinal and Ordinal Directions?"
I have an application that needs cardinal (N/S/E/W) and ordinal (NE/SE/SW/NW/) directions in its fake data. I was surprised that `faker.js` doesn't have these (since this library literally has everything!), and I ended up having to implement it myself.

Just an idea for a feature to add down the road...

[2017-02-02 09:12] jantimon commented on #456
@Marak is this possible?

[2017-02-02 22:29] kelsonic commented on #401
I get this same issue... interested if anyone else is having this problem.

[2017-02-03 14:31] pgn-vole commented on #456
I'm interested by this question as well.

[2017-02-06 08:55] jantimon commented on #456
The code supports it - it's just not exposed as an option:

https://github.com/Marak/faker.js/blob/7e96b93869b422af5a63c115e04ff0206bf7b228/lib/index.js#L45

It would have to be changed to:

[code]

[2017-02-06 10:53] cazgp opened #460 "Passwords don't use `faker.seed`"
Generating a bunch of random data using `faker.seed` to ensure test reproducibility. Everything works apart from passwords, and that's because the password module uses `Math.random` which cannot be seeded. Could the password instead use `faker.random.number`?

[2017-02-09 20:06] Marak commented on #460
Seems reasonable.

The use of `Math.random` is probably a bug now since we've previously migrated to the user `faker.seed` everywhere else.

Will fix.

[2017-02-09 20:07] Marak commented on #457
@jongunter -

Seems like a good addition.

I'll merge any Pull Requests which add this functionality.

[2017-02-09 20:08] Marak commented on #456
Making the random seed configurable seems OK.

I'll do a bit of testing and see if I can easily add this.

[2017-02-09 20:10] Marak commented on #454
I have little idea about the Meteor package, as I'm not using Meteor anywhere.

If anyone has a suggestion for how to resolve this, please let us know.

It's possible the Meteor package is out of date / not correct. I'm not sure who maintains `practicalmeteor:faker`

[2017-02-09 20:12] Marak commented on #449
@martahj

I'm not sure exactly how this would actually work.

If you think this functionality would be useful for others, a PR would be much appreciated.

Cheers.

[2017-02-09 20:13] Marak commented on #448
@hacicavcav

I do not speak Turkish, so it will be hard for me to assist.

Would it be possible for you to open a Pull Request to start fixing some issues with Turkish language? Or at least give a more detailed bug report?

çok teşekkür ederim

[2017-02-09 20:14] Marak commented on #444
Will be releasing a new version soon.

[2017-02-09 20:14] #444 closed

[2017-02-09 20:15] Marak commented on #442
I'll accept a Pull Request for this.

If not, I will try to include this in the next release.

Thanks for the feedback!

[2017-02-09 20:17] Marak commented on #438
@aabanaag

Faker should be generating unique data by default ( with a fresh random seed ).

If you aren't seeing that, it's most likely an issue with how you are using Faker itself. I wish I could assist more, but without a reproducible code snippet, there is little I can do here.

I'd recommend trying to clone Faker from Github and running the examples locally to get started.

[2017-02-09 20:17] #438 closed

[2017-02-09 20:21] Marak commented on #436
@onigetoc -

Well...you should understand that the `randomuser.me` project is actually using `faker` project to generate it's data.

Look here: https://github.com/RandomAPI/Randomapi.com/blob/master/package.json#L27

So to answer your question, `faker` is already using `faker` to generate it's fake data and since `randomuser.me` is using `faker`, `faker` is already using `randomuser.me`? I'm not t

[2017-02-09 20:21] #436 closed

[2017-02-09 20:24] Marak commented on #435
@thanh-taro

Is this only for `vi` locality?

It could be an issue with the language support for `vi`.

Can you assist further @thanh-taro? I am uncertain where the exact issue is located.

[2017-02-09 20:24] Marak commented on #433
Publish coming soon. Triaging issues now.

[2017-02-09 20:26] Marak commented on #431
@EQuimper -

Which locality is this happening in? Any?

I'm running `faker.commerce.price();` locally on `master` and am getting correct formats.

[2017-02-09 20:27] Marak commented on #410
This is most likely an NPM or local env issue.

`npm cache clean` or updating Node and NPM should resolve it.

[2017-02-09 20:27] #410 closed

[2017-02-09 20:28] Marak commented on #417
@rgalus -

I'll see if I can take a look at this.

Can you provide any additional information? A PR or more detailed bug report would help.

Thanks!

[2017-02-09 20:29] Marak commented on #420
@sylvainbannier - Seems good. Will review and merge PR for next release.

@pgAdmin - Did you have any additions to this you wanted to see? Any code would help.

[2017-02-09 20:32] Marak commented on #430
@rollymaduk -

Does this actually solve the issue? What is the cause of the issue?

Not sure why this is happening. I'll see if I can investigate further.

[2017-02-09 20:37] Marak commented on #425
@kristianmandrup -

I believe this issue is related to `json-schema-faker` project, and not `faker`. `json-schema-faker` is a separate project which I do not manage.

I reviewed your PR. Taking in a new dependency `moment` seems like feature bloat and is not a core competency of what `faker` does.

If you are saying that `faker` is returning invalid Date / Time objects, please let me know where an

[2017-02-09 20:37] #425 closed

[2017-02-09 20:38] Marak commented on #426
@kristianmandrup -

Good catch. It's been a long time since we've updated the deps.

I'm nervous it will break the build, but we should try to update regardless.

I will try to get this in the next release. Thanks for your feedback.

[2017-02-09 20:40] Marak commented on #422
@hmaesta -

Seems reasonable.

I haven't had any need personally for more realistic avatars, but I'd be glad to see this functionality added.

If anyone can open a Pull Request for this I will be glad to review it.

[2017-02-09 20:43] Marak commented on #401
I'll see what happened with `random.number` and precision.

It could be a possible regression. If anyone has a failing unit test please let me know, it would really help.

[2017-02-09 20:46] Marak commented on #400
@si-mikey @nikmash

This seems like a useful feature to have.

I don't know exactly how, but it seems like there is a known algorithm for determining zipcode min max ranges by state?

Check this out: http://www.structnet.com/instructions/zip_min_max_by_state.html

If anyone could turn this into code, or find an existing JavaScript solution which does, I'd be glad to add this feature to `faker`.

G

[2017-02-09 20:52] Marak commented on #399
@yanickrochon -

To me, "ugly and awkward" APIs are those which bloat or take away from the core functionality required.

If you want a more expressive API, feel free to create a new library which takes in `faker` as a dependency. Lot's of developers do this and it generally works out great. If you make something you feel is useful, I'd be glad to add it to our `ReadMe` file.

@am1stad -

Just use

[2017-02-09 20:54] kristianmandrup commented on #401
I made a lot of fixes and improvements in a new fork published as a separate npm module

[2017-02-09 20:54] Marak commented on #396
@fernandocanizo -

I'm not certain how this would be possible to do.

I'd be glad to review any code or Pull Requests that enabled this feature.

[2017-02-09 20:58] Marak commented on #413
Just tweeted at Patreon. https://twitter.com/marak/status/829796317140508677

Maybe they flagged the Faker account as Spam? I have no idea. I got no messages from them at all.

Going to re-evaluate and see if https://opencollective.com/ is a better solution.

[2017-02-09 21:00] Marak commented on #401
If anyone has a failing unit test please let me know, it would really help.

[2017-02-09 22:22] #430 closed

[2017-02-09 22:22] #460 closed

[2017-02-09 22:24] Marak commented on #430
I've opted to move the password generation logic to faker core. The extra browserifying type logic in `vendor/password-generator.js` was causing issues.

Should be resolved in `master`.

Also resolves #460

[2017-02-09 22:24] Marak commented on #460
Should be resolved in `master`.

[2017-02-09 23:24] Marak opened #461 "Extra / duplicate `supplemental.js` files?"
It seems we have some un-needed duplication of lorem data for some locales in `supplemental.js` files.

Will investigate further. Could potentially be able to remove a few thousand lines of locality data!

[2017-02-10 04:23] #456 closed

[2017-02-10 04:24] Marak commented on #456
@jantimon -

I've exposed `seed` as an option to the `Faker` class.

This should address your requirements? Let me know.

Will be included in the next release.

[2017-02-10 05:18] Marak commented on #426
@kristianmandrup -

I was able to update `mocha` and `gulp` without issue, but the latest `browserify` is throwing an error when attempting to build the browser bundle for the package.

Were you able to get this to work? I believe we need to make a modification to https://github.com/Marak/faker.js/blob/master/build/gulpfile.js#L41

[2017-02-10 07:33] thanh-taro commented on #435
I think the problem is about the languages. I only got this issue when using language support for `vi`.

[2017-02-10 13:36] pgn-vole commented on #456
Thanks @Marak for the quick fix!

[2017-02-10 15:02] jantimon commented on #456
perfect :)

[2017-02-11 22:23] Marak commented on #401
@WattsC-90 - Based on your code it looks like you are requiring `Faker` package. That is not the correct package name, package name is `faker`.

[2017-02-11 22:24] Marak commented on #401
@kelsonic - Make sure to require `faker` package, and not `Faker` package.

[2017-02-11 22:32] Marak commented on #401
I'm seeing that `faker.random.number` is currently working like:

[code]

I'm not sure that is the best way the API should be exposed, but it does appear to be mostly working.

[2017-02-11 23:04] Marak commented on #442
@cihancil -

I've added a *fifth* argument to `faker.image.imageUrl` for `https`, but this API needs to be refactored to use an options hash.

In `master` you can now do:

[code]

But this is obviously not very good API. I don't really want to take the time to update all the function signatures for so many arguments when it would better to create a new major version and use an options hash.

Keepi

[2017-02-11 23:08] Marak commented on #420
Merged into `master`.

Thank you for your contributions.

Please let me know if you want to improve on this at all for the next release.

[2017-02-11 23:24] Marak opened #463 "Release `4.0.0` Pending"
The new version of `faker@4.0.0` will be released soon.

There are no anticipated breaking changes in this release.

If you'd like something added or see any potential issues please let me know.

commit e2305d76d7c69134ab773127a4e6e4e82fab23f3
Author: Marak <marak.squires@gmail.com>
Date:   Sat Feb 11 18:07:23 2017 -0500

    [api] [minor] Rename `dataurl` to `dataUri`

commit 2b0d1152b603764004fd

[2017-02-11 23:27] Marak commented on #433
`v3.2.0` is now pending release

https://github.com/Marak/faker.js/issues/463

[2017-02-12 02:15] kelsonic commented on #401
@Marak Perfect, that was it. Thanks! :)

[2017-02-12 20:54] tniezurawski opened #464 "Some avatars urls respond with 403 Forbidden"
This issue refers to `en` locale but it could potentially be a problem in other locales too.
When I try to GET some avatars I see 403 Forbidden.

I made a little investigation on this and checked this list: `faker.js/lib/locales/en/internet/avatar_uri.js`

So this is the list of 9 URLs that are not reachable:
https://s3.amazonaws.com/uifaces/faces/twitter/lindseyzilla/128.jpg
https://s3.amazonaws.

[2017-02-12 21:10] Marak commented on #464
@tniezurawski -

It appears the source of avatar urls has been updated or changed?

Could you try to track this down and see where we can get the latest version of `uifaces`?

Thank you.

[2017-02-13 11:07] tniezurawski commented on #464
@Marak I think that their [API is down](http://uifaces.com/api/v1/random). [They had problems before](http://uifaces.com/about) so I think the project is abandoned and I couldn't find any repository with more actual URLs.

I guess the solution is to just remove these 9 URLs and leave the rest. I checked them and all of them respond with 200. It's only 0.72% so not a big deal IMHO ;)

[2017-02-13 14:31] WattsC-90 commented on #401
@Marak Thanks for that, that seems to have been the problem! however, quick test using the following script and Json-server seems to ignore the precision argument.. see below:

[code]

results in:
[code]

which as you can see, ignores (sometimes) the 0.0001 precision. Thanks for your help though!! much appreciated, I was doing a string concatenation of two faker.random.numbers between 0 and 10000.

[2017-02-13 18:20] Marak commented on #464
It kinda is a big deal, because it means users will have missing images `0.72%` of the time ( which is unacceptable ).

We should try and find a new source of images for the upcoming release. Any help would be appreciated.

Re: https://github.com/Marak/faker.js/issues/422

[2017-02-13 18:22] Marak commented on #401
@WattsC-90 - Good catch.

I also noticed the precision issue happening locally in testing a few days ago.

I believe this is a rounding / floor issue. JavaScript `Number` type is going a little crazy and we didn't round off the unexpected extra decimals.

I'll add a patch to this for the upcoming release. Thank you.

[2017-02-14 09:32] tniezurawski commented on #464
@Marak

**This is what's happening now.** That's the reason why I raised an issue ;)

If you remove these 9 URLs that are broken there is no chance that `faker.js` will pick broken URL again. I checked all of them (it's 1266 exactly).

[2017-02-14 13:54] Marak commented on #464
Okay. Do you have a solution?

Just removing the broken ones isn't the best idea, as the source now seems to be compromised. No reason more won't go offline for no reason.

[2017-02-14 14:43] tniezurawski commented on #464
I agree it's not the best solution as any of these URLs may go offline at any time but this will always work like this if you rely on 3rd party with a list of URLs :)

I'm afraid that without testing it every night you can't be 100% sure that you have a **hardcoded list** of still available images. So when you notice a dead link you can release a new version of this lib. (not very convenient)

The

[2017-02-14 20:10] Marak commented on #464
CCing @calebogden ( creator of uifaces? )

[2017-02-14 20:37] calebogden commented on #464
That S3 bucket is serving ~ 15M requests per month, the only reason those aren't working is the users deleted their account on UIFaces and so I deleted their images in S3 as well.

I don't mind people hotlinking to the S3 bucket but not sure how to handle the case where a user deletes their account. Ideally I'd have an endpoint where you could reference random / static accounts and fail gracefully

[2017-02-14 20:43] Marak commented on #464
@calebogden -

Thanks for the quick response!

Understood. I will remove the faces from faker and that should resolve our issue.

Does UIFaces get any funding for hosting these images? If we include them with future faker.js released, I'd expect you would get more traffic. I'm open to ideas to help make this work best for everyone.

[2017-02-14 20:55] calebogden commented on #464
@Marak I had an ad unit on uifaces.com that paid for all hosting + S3 costs, and I've procured free hosting for the service moving forward so the S3 costs should be fine.

I'd love for faker.js to keep using uifaces. I'm rebuilding it to manage a few more digital assets than just avatars, after that's done I'll write an API that fails gracefully :)

[2017-02-14 20:58] Marak commented on #464
@calebogden Super cool. Please let us know / open up a fresh issue if you have any updates to post for UIFaces.

Thanks again! UIFaces has been working nicely with faker for some time.

[2017-02-14 22:37] jaredpalmer opened #466 "Uniqueness"
Current experiencing issues with faker not generating unique enough values. This results in a false negative test result. Our workaround is to concatenate or prepend another faker function to increase randomness.

Notoriously not-unique-enough faker funcs for running integration tests with:
- `faker.internet.ip()`
- `faker.internet.email()`

[2017-02-14 23:05] Marak commented on #466
@jaredpalmer -

I can confirm conflicting values for both `faker.internet.ip()` and `faker.internet.email()` when running the attached code.

It seems on `master` we are seeing about 3 IP conflicts per 100,000 and 700 email conflicts per 10,000.

We should for sure fix this for email address. I should review other faker methods that may also require more entropy. RE: #245

[code]

[2017-02-14 23:32] Marak commented on #278
RE: #466

[2017-02-14 23:37] Marak commented on #466
I've looked at the code for generating emails / usernames and I'm not 100% certain why we are seeing conflicts at this scale.

https://github.com/Marak/faker.js/blob/master/lib/internet.js#L69

We should be generating enough uniqueness here to not be seeing conflicts with such small datasets? Can anyone confirm the math based on the code conditionals and first / last name data?

If anything, we ma

[2017-02-16 15:29] fmalk commented on #237
In my case, the size issue affects _heavly_ my AWS Lambda packages. It makes deploy painful slow, to the point where uploading signature times out if not done via S3.
My solution was to keep a build separated from what `npm install` downloads, and purge unneeded `/examples`, and `/build/locale`.

[2017-02-16 16:37] Marak commented on #237
@fmalk -

If you need a quick way to generate faker.js data serverlessly, you could also try using hook.io instead of AWS Lambda

see:

https://hook.io/examples/javascript-fake-data/source
https://hook.io/examples/javascript-fake-data/
https://hook.io/examples/javascript-fake-data/fork ( to make your own fork of service )

[2017-02-20 16:56] NickHeiner commented on #433
Thanks!

[2017-02-20 23:11] #464 closed

[2017-02-20 23:56] Marak commented on #464
Removed old images. Should be resolved in next release.

[2017-02-21 00:26] Marak commented on #433
Latest version `4.0.0` has been released.

Decided to not do another v3 release.

Cheers!

[2017-02-21 00:26] #433 closed

[2017-02-21 00:27] Marak commented on #463
New version `v4.0.0` has been released.

Hopefully everything is working.

[2017-02-21 00:27] #463 closed

[2017-02-21 14:07] sha1sum opened #467 "Company "Segment Name" Generation"
*Note:* This is a placeholder issue. I will be generating a pull request shortly.

In addition to the already-present data, I have found myself in need for randomized company "segment names", such as:

- international
- worldwide
- multi-continent
- continent
- country
- division
- region
- area

... and so on. I'll be generating a much larger list, and likely choosing the `company.segmentName` pr

[2017-02-21 14:35] gotofritz opened #468 "Changelog for version 4 does not include info about version 4."
What has changed in version 4? What are the breaking changes?

[2017-02-21 15:29] Marak commented on #468
None.

[2017-02-21 16:43] Marak commented on #142
This has been resolved.

[2017-02-21 16:43] #142 closed

[2017-02-21 17:01] Marak commented on #467
Sounds good!

[2017-02-21 17:26] Marak commented on #409
There is the documented `faker.fake` method, outside of that developers are responsible for making their own modules for defining custom helpers / extending faker.

[2017-02-21 17:26] #409 closed

[2017-02-21 17:39] Marak commented on #387
Will accept a Pull Request for this functionality.

Let me know if anyone can figure it out.

We've just landed better support for long / lat generation in the latest release.

[2017-02-21 17:46] Marak commented on #407
It would be good if we had a better error message here or maybe just trim the whitespace by default.

[2017-02-21 17:47] #413 closed

[2017-02-21 18:53] Marak commented on #368
Should be resolved with #377

Published in latest version of faker

[2017-02-21 18:53] #368 closed

[2017-02-21 20:00] gotofritz commented on #468
Is that all you have to say?? The changelog is still wrong. Do you really a new version without documenting anywhere what has changed?? I am sorry, but after our reddit conversation I have to conclude you are an asshole.

[2017-02-21 20:55] Marak commented on #468
Would be great if anyone wants to summarize the changes posted from https://github.com/Marak/faker.js/issues/463 and the current history.

@gotofritz - Do you have any time to do this? We could use the help.

[2017-02-21 21:43] shimondoodkin opened #470 "noticed woman names with male avatars"

[2017-02-21 21:47] Marak commented on #470
Yeah, there is no way to distinguish between the UIFaces sources that I know of. cc @calebogden

Duplicate: https://github.com/Marak/faker.js/issues/422

Will accept a pull request which sorts the data by gender.

[2017-02-21 21:48] Marak commented on #470
I think someone would have to go through https://github.com/Marak/faker.js/blob/master/lib/locales/en/internet/avatar_uri.js and split them into separate arrays by gender.

[2017-02-21 22:13] calebogden commented on #470
Yeah there's no way to get gender.

I'm looking into https://www.kairos.com as a solution but I don't have a time estimate on this

[2017-02-21 22:16] Marak commented on #470
@calebogden -

I would recommend using https://www.mturk.com/mturk/welcome. You could probably get decent results if you paid a few cents per image and ran them through twice for accuracy. You'd also want to introduce a `neutral` gender for avatars that aren't gender specific.

Let me know if you have any questions or could use help getting this going.

[2017-02-21 23:37] Marak commented on #413
Going to try https://opencollective.com/fakerjs and see how it works...

[2017-02-23 05:22] errorx666 opened #472 "Don't import directories"
SystemJS [won't import index.js when given a directory name](/systemjs/systemjs/issues/1308), instead recommending [a configuration rule for each directory in each module](/systemjs/systemjs/issues/902).

There turns out to be a silly number of directory-name `require`s (mostly under locales) in this project which makes this approach painful.  If all the `require( 'dirname' )`s were changed to `re

[2017-02-23 22:50] bardware opened #473 "Austrian locations in browser sample"
I played with the browser sample from `/examples/browser/index.html` and got this very strange Street and City. Where does this data come from? I don't find these names in the sources.
![20170223_faker js](https://cloud.githubusercontent.com/assets/802702/23282697/ace78932-fa22-11e6-8166-93922ba4cdd7.png)

[2017-02-24 01:38] Marak commented on #473
Check the code and find out.

[2017-02-24 01:38] #473 closed

[2017-02-24 17:32] mauricedoepke opened #474 "Readme: Node examples not working. Examples are lower case, but must be capitalized."
Node Version: 6.9.5
Faker Version: 0.7.2

The  Readme shows this examples for the use in Node.js
[code]
`require('faker');` however returns an Object where the childobjects like name or internet are capitalized.

So one must for example use

`var randomName = faker.Name.findName();` to retrieve a name from Faker

[2017-02-24 17:41] Marak commented on #474
The project name is `faker`, not `Faker`.

You are using the wrong version.

[2017-02-24 17:41] #474 closed

[2017-02-26 00:21] Marak commented on #472
That is odd.

I'm not thrilled at the idea of doing a giant search and replace just to support one library. Why can't SystemJS just support the standard Node.js convention here?

Who / where else is affected by this? Are there issues with other libraries? Are other users being affected by this?

[2017-02-26 02:35] dhilt opened #475 "random.words localization problem"
First of all, thank a lot for the greate library! The issue I faced today (v4.1.0) is that faker.random.words() generates words without regard for existence of localized version of faker methods that are being used in faker.random.word method.

For example
[code]
will output a result whith less that 50% of russian words.

The cause is that faker.random.word method uses "hacker" (and many others) g

[2017-02-26 02:52] errorx666 commented on #472
@Marak I think the issue is that SystemJS loads libraries over HTTP rather than the filesystem, therefore it has no available mechanism to stat the import path and determine whether it is a file or a directory.

[2017-02-26 02:54] Marak commented on #475
@dhilt -

Thanks for the report. That makes sense.

The default behavior for locales is to fallback to `en`, so it's passing through for the unknown `ru` values.

Any chance we could get these translated and added in a PR?

I'll see what we can do about adding a guard so `words()` only return values that actually exist in the locale.

[2017-02-26 05:22] Marak commented on #475
I think PR would be best to help support `ru` locale.

`ru` is more full-featured than most others and it would be better for all `ru` users to bring parity to `en` locale.

Appreciate your feedback, thanks!

[2017-02-27 19:06] dhilt commented on #475
@Marak We did it for 'hacker' generator. Please take a look at https://github.com/Marak/faker.js/pull/476 -- is it ok? I checked it but maybe I missed something. If it's ok I will continue this work in some near future with some other student...

There is a problem with 'phrase', cause we have hardcoded english on ./lib/hacker.js (like "If we {{verb}} the {{noun}}..."). Is there a standart way to

[2017-02-28 18:49] Marak commented on #449
@martahj -

Which words specifically are causing you issues?

[2017-02-28 23:00] #401 closed

[2017-02-28 23:58] Marak commented on #475
@dhilt -

Looking good. I made comment on PR.

As for hard-coded strings in `hacker.js`, those should be moved to locale folder for `en`, as same array of strings, then translated to `ru` locality in order to generated correct `ru` response.

If you want to just do the translation part, I could do the rest and make the API refactor. Should be easy?

[2017-03-01 02:17] dhilt commented on #475
@Marak Sounds good! I also did some marks and provided them as a "PR review". So let's wait a bit...

As I see, we'll get some problem with _ingverb_ in
[code]
due to genitive singular which requires specific word ending in russian language. It would be nice to transfigurate this sentence to change the form of the _ingverb_ to the nominative case... Something like
[code]

And there is a certain nu

[2017-03-01 20:30] Marak commented on #475
@dhilt -

I agree.

The phrase template could be put into the locale and as an array of template strings that could be called with `faker.fake()`, or some other mechanism.

Please feel free to adjust the `ru` locale as best you see fit. Я плохо знаю русский.

[2017-03-01 20:58] Marak opened #479 "Add code coverage and code complexity tooling"
faker should have tooling for code coverage and code complexity reports.

This way, we can track our code coverage and see how close we can get to 100%.

`nyc` is a decent tool.

Should be an easy PR if anyone wants to add it.

[2017-03-01 21:00] Marak opened #480 "faker CDN / hosted API"
We should have a better way to host faker.js releases and possibly have a build tool for building specific faker builds with custom locales / modules / etc.

We should also improve the hosted faker api at faker.hook.io to include a UI for calling all faker methods.

If anyone has any suggestions for either of these please let us know. I'll see what I figure out in the upcoming weeks.

[2017-03-01 21:09] dhilt commented on #475
@Marak I will suggest it to my next student as soon as he is ready for such things! Thanks for an opportunity)

[2017-03-02 00:04] Marak commented on #466
RE: https://github.com/Marak/faker.js/pull/477

[2017-03-02 00:04] Marak commented on #278
RE: https://github.com/Marak/faker.js/pull/477

[2017-03-02 00:05] Marak commented on #299
RE: https://github.com/Marak/faker.js/issues/245

[2017-03-02 00:05] Marak commented on #299
@mguida22 -

Any ideas on this? I've tried a few times to implement a markov chain with faker data, but I never quite got good results.

Maybe someone can try this and see if they can get better results?

[2017-03-02 00:14] mguida22 commented on #299
I've thought a lot about this, but I don't know of any way to get good results. Something using an approach like [kylestetz/Sentencer](https://github.com/kylestetz/Sentencer) might be a good starting place?

[2017-03-02 00:18] Marak commented on #299
@mguida22 -

Looks interesting.

It seems data from faker API calls could be feed into `Sentencer`. That would solve this issue?

Have you seen this other issue: https://github.com/Marak/faker.js/issues/245 This would be for a more general approach to adding entropy / randomness into faker.

[2017-03-02 00:28] mguida22 commented on #299
I think using faker API calls with Sentencer would work well, but it would still require a lot of templates to be made. If I get some free time, I'll look into it more!

I saw #245, but I just haven't had any concrete ideas on it...

[2017-03-02 00:31] Marak commented on #245
Looking for help on this one.

I'd like to see this resolved along with other related issues, but I'm not certain the best way to proceed.

This will require a bit of time and experimentation to get right.

[2017-03-05 04:17] dhilt opened #483 "Hacker phrase templates localization"
Good day!

As it was disscussed in https://github.com/Marak/faker.js/issues/475 issue, the phrase templates locale customization is needed (Hacker generator). A translator should be able to make its own phrase templates to satisfy his language specifics.

I made a PR on this topic: https://github.com/Marak/faker.js/pull/482. Hope it is clear and acceptable!

[2017-03-05 04:21] dhilt commented on #483
@Marak If you want to adjust the logic before master-merge and don't want lose my PR, you may create a separate branch, and then I will reopen my PR to that branch... Thanks!

[2017-03-06 04:30] tomByrer opened #484 "shortest & longest texts"
Is there a way to adjust the character lengths of output?

I've found layout issues in testing for texts that are too long (usually long last names).  Sometimes too short texts might cause issues (eg if a [2 character last name](http://projects.newsday.com/databases/long-island/census-last-names/?where=name*li&offset=0) causes too small of a click box).

Related; Is there a way to create [hyphenat

[2017-03-06 04:40] Marak commented on #484
Not really possible right now. You could always just create a helper method which truncated the result to whatever length you wanted.

I'd suggest building layouts which can accommodate names of any length.

If you want to create custom formatted names, you can try using the `faker.fake` method.

[2017-03-06 04:40] #484 closed

[2017-03-07 08:54] s-a opened #486 "locale does not affect decimal values"
Using locale "de" and `comerce.price` yields `979.00` which should be `979,00`. maybe there are other data types affected.

[2017-03-09 11:33] panuhorsmalahti opened #489 "Update bundled jQuery"
jQuery should be updated to the latest version, since the bundled one is found by vulnerability scanners such as retire.js as vulnerable:

[code]

[2017-03-09 23:52] davesag commented on #308
I noticed this with `npm install faker` too.  It gets a very old version.

[2017-03-13 18:36] BenLorantfy commented on #170
A link to the documentation from the Readme would be great. It's not always obvious the documentation is in the wiki.

[2017-03-30 07:54] DanielWLam opened #491 "how to generate self-incremental number"
The doc is not so explicit. I have no idea how to do that, or can it do this?

[2017-04-03 19:59] sadranyi opened #493 "where is the faker.js file"
I cant seem to find the faker.js file.
where is it located, am trying to use bower to manage it

[2017-04-04 11:38] analytik opened #495 "Idea: Implement Tracery"
While I understand this might be out of scope of the library's intention, but maybe there would be a few fun things that could be generated with the help of Tracery, as seen on [Cheap Bots Done Quick](http://cheapbotsdonequick.com/).

This could be used to refactor existing features like company.bs and could potentially lead to cleaner code? I'm just guessing.

(I am not a bot, nor do I own stock

[2017-04-04 11:44] analytik opened #496 "Company.bs uses the wrong word order."
Tested in faker 3.1.0 and 4.1.0.

Output I get:
'plug-and-play engineer deliverables'
'global expedite convergence'
'leading-edge exploit schemas'

Expected outcome:
'engineer plug-and-play deliverables'
'expedite global convergence'
'exploit leading-edge schemas'

[2017-04-05 06:22] tomByrer commented on #470
Sorted, even has Lego
https://randomuser.me/photos

[2017-04-05 08:48] at-shakil commented on #493
@sadranyi It's located here, `faker.js/build/build/faker.js`

[2017-04-05 17:20] sadranyi commented on #493
Thanks found

On Apr 5, 2017 1:48 AM, "Tahmid Shakil" <notifications@github.com> wrote:

[2017-04-06 04:20] frozenfung commented on #468
#497 should solve this.

[2017-04-06 05:59] inakrin opened #498 "Faker conflicts with TinyColor"
When I have both of them (faker.js and https://github.com/bgrins/TinyColor) included in my bower.min.js it raises an error

  at data/static/build/bower.min.js:96

The same happens when I include faker in my karma tests.

[2017-04-06 06:25] #498 closed

[2017-04-06 06:26] inakrin commented on #498
Mistake, the problem in the third-party lib which contains tinycolor

[2017-04-12 13:12] evilebottnawi opened #499 "Reduce package size"
Package contains unnecessary directories and files - `locale/.publish`, `.jshintrc` and maybe others. I can do PR if your accept this issue.

[2017-04-14 15:12] yanickrochon opened #500 "faker.lorem.word has unused argument"
What is the argument `num` used (or intended use) for in `faker.lorem.word(n)` ?

[2017-04-19 04:16] minhchu opened #501 "Generate Mobile Phone Number"
Do we have any way to generate only mobile phone number or
may we have to implement something like `faker.phone.mobilePhoneNumber()`

[2017-05-02 01:05] friend0 opened #503 "Request feature Internet.userName `range` parameters"
I think it would be useful to be able to specify upper and lower bounds on userName generation.
One lazy idea is to insert alphaNumerics to random indices until we meet the lowerBound constraint, and similarly splice random elements until we meet the upperBound constraint.

Another idea would be to implement some retry logic until we meet both lower and upper bound constraints. I'd be happy to imp

[2017-05-05 14:54] cornillemichiel opened #504 "Request / Clarification needed: AMD Compatibility (Aurelia CLI / JSPM)"
The documentation seems to imply that either you use fakerjs in the browser, or with nodejs.

**But I want to do a bit of both**. I want to require the faker module in the browser, which is (correct me if wrong) not possible because it doesn't seem like there is AMD / CommonJS support?. In future versions of our application we'd even like to use JSPM to install faker.

Some context. We are using A

[2017-05-08 20:54] LvZeeland opened #506 "Request: Vehicle Data (VIN)"
I'm building an app with vehicles and I was surprised faker does not offer any data for cars.
It would be a nice addition if requesting brands and realistic VINs is possible.

[2017-05-09 21:48] ashwell opened #507 "Brainstorm: Leverage http://lists.design/ as another "backend""
I love faker, it is really nice when you need to populate some data really quickly to get up and running. I just came across http://lists.design/ as another "fake data" source. Seems like a good fit for faker.

Just figured I'd suggest this as a possible tool to leverage in making faker even better.

[2017-05-11 07:37] akshay2604 commented on #491
try https://github.com/bentonam/fakeit/

[2017-05-11 17:48] corysimmons opened #508 "Add url to repo"
https://marak.github.io/faker.js

should go here

![image](https://cloud.githubusercontent.com/assets/224636/25963759/7716481a-3650-11e7-8bd3-54c1bdc2a4a9.png)

[2017-05-17 10:15] adoyle-h opened #509 "lorem.word(num) always return random length word"
![image](https://cloud.githubusercontent.com/assets/1998490/26149363/934d95ac-3b2c-11e7-8cfa-4bb60f8855a8.png)
The length of word should equal the input number, but actually Not.

[2017-05-19 20:03] joeyfigaro commented on #499
Worth mentioning there doesn't seem to be a clear way to import *only* the methods you need. Including the following is 1.2mb raw/768kb compressed:
`internet, name, random, address`

Increasing my lib's size by 768kb to get email addresses, first and last names, random numbers, and addresses is hard to swallow.

[2017-05-19 20:06] joeyfigaro commented on #499
![](https://d3vv6lp55qjaqc.cloudfront.net/items/0v2Z043u470b3G0i1M3V/Image%202017-05-19%20at%204.05.15%20PM.public.png?X-CloudApp-Visitor-Id=dcbf0d76441d3d10ce83c320ca952dac&v=63f1acb4)

Going to have to try out chance.js or roll our own helpers after seeing this. Everything highlighted there is from faker.

[2017-05-23 16:25] feleventh opened #510 "how resolve this err: Cannot resolve the configured swagger-router handler: ..."
how resolve this err: Cannot resolve the configured swagger-router handler: ...

[2017-05-23 19:37] #510 closed

[2017-06-13 19:06] anthonyettinger opened #512 "http request with multiple properties?"
How do I get both random name and email back from the api using an http request?

I tried this but I get an error:

`http://faker.hook.io/?property=name.findName,internet.email`

[2017-06-17 20:11] genu commented on #501
whats the difference between a mobile phone number and a regular phone number?

[2017-06-18 00:35] #493 closed

[2017-06-20 00:43] agm1984 commented on #466
I was working with an anti-duplicate script this weekend. I will see if I can produce you some logic along these lines. I'm thinking that faker should maintain some kind of local store of values and check against it to avoid duplicates. It could simply generate a new random every time it detects duplicate was already made in the session or lately (however the store is made to function).

In my tes

[2017-06-20 01:18] Marak commented on #466
@agm1984 - Sounds good!

Doing a pluggable Store seems like the right idea, and should be easy to do. I have been using the following `Store.js` file at scale with success. It should always work as drop-in for `node-redis` module, see: https://github.com/Stackvana/microcule/blob/master/lib/plugins/Store.js

I see the memoization / pluggable data-store as the easier part of this problem. The harder

[2017-06-20 03:44] agm1984 commented on #466
Here is a kind of proof of concept I just made. It seems to be working perfectly for me. Feel free to use it:

https://github.com/agm1984/uniqueNameGenerator

I have to work on my main project here now lol, but I will circle back. I have a need to build a test module soon that generates fake businesses and users with a lengthy list of properties and graph DB relationships all randomizing, so I wil

[2017-06-20 03:46] agm1984 commented on #466
The issues I had with faker, to answer your thought, were with generating Business Names, and with generating random images. I recall every method to do with images was returning the same image. It would be nice to have it pull from some free source. There should be lots of APIs for that.

If you just make a POST endpoint and a list view and dump like 10,000 records containing usage of every metho

[2017-06-22 06:31] anthotsang commented on #270
@brianmcmillan
You've probably figured this out by now, but you can also use "?" in replaceSymbols to get random alphabet characters. Additionally, replaceSymbolWithNumber allows a second argument to change from the default "#" symbol to be replaced.

[2017-07-27 12:59] jreina commented on #509
This appears to be related to #500
@Marak can you clarify the usage of this method? I could not find a unit test. I don't mind digging into this but I would like to make sure that I'm not breaking the intended use.

[2017-07-27 13:57] boogiebug opened #520 "suggestion: make fake function support nested call"
Hi,

I'd like to contribute my work to improve the Faker.fake() to support nested call to faker method like following:

[code]

the code is:
[code]

[2017-07-27 17:08] Marak commented on #520
Interesting.

I'll have to consider this one a bit. I'm marked this for review.

I like the idea of more functionality, but I don't want to introduce more complexity.

Will let you know. Currently working on a new release version.

[2017-07-27 17:11] Marak commented on #509
It looks like `num` argument may be ignored.

see: https://github.com/Marak/faker.js/blob/master/lib/lorem.js#L16

This appears to be an error. A unit test / patch would be appreciated. Thank you.

[2017-07-27 19:10] djones opened #521 "internet.userAgent() doesn't respect seed"
This is probably the bit that needs updating: https://github.com/Marak/faker.js/blob/master/vendor/user-agent.js#L83-L89

[2017-07-27 19:52] Marak commented on #521
Interesting.

Could you make a patch to fix this?

Would be glad to merge it in.

[2017-08-03 11:27] FreeLineTM opened #522 "NB_no locale not working"
Tried the NB_no (Norwegian) locale but it just returns English. Tried with ru and then half of it becomes russian and half english.

`
import faker from 'faker/locale/nb_NO';
faker.locale = "nb_NO";
`

[2017-08-03 20:35] Marak commented on #522
There appears to be something wrong specifically with the `NB_no` locality, I'm seeing it throw an error. Are you seeing an error as well? If so, please show us.

As for `ru`, it's most likely because the API methods you were attempting to call don't have the locality data to back them. When this happens, `faker` falls back to the `localeFallback` setting ( which is `en` by default ). If you are s

[2017-08-03 20:44] FreeLineTM commented on #522
I didn't see any errors, except for one in the browser console that changes in every refresh. I don't remember exactly what it said though, but I think it was an API method that changes every time and it said it was undefined.

[2017-08-03 20:45] Marak commented on #522
That doesn't help us at all. If you want quality assistance, you'll have to provide a quality bug report.

I'll try to look into this issue later at some point.

[2017-08-03 21:00] FreeLineTM commented on #522
I was just giving you what I had at the top of my head. I will look closer ASAP

[2017-08-03 21:12] Marak commented on #522
Most likely the issue is related to missing data ( falling back to `localeFallback` )

The best way to test is using the source codes, and not the build version and website demos.

I don't speak `ru` or `NB_no`, so if would great if someone was able to add the missing data to help make these localities more complete.

Thank you!

[2017-08-04 14:02] rodrigooler opened #523 "Suggestion airports data generation"
I'm on a project that would be cool to have a mass of data to generate airports around the world, here's my suggestion what do you think?

cc @sibelius

[2017-08-04 14:18] Marak commented on #523
What would airport generation look like?

Would it be a list of real airports, or would it create fake named airports?

[2017-08-04 15:01] rodrigooler commented on #523
@Marak I think it would be legal to generate the real ones, I believe you can collect all existing ones

[2017-08-04 15:07] Marak commented on #523
I probably could collect them.

If you'd like to see this added, you can collect them.

Will accept a Pull Request for this feature.

[2017-08-04 15:36] sibelius commented on #523
we can use this https://github.com/jpatokal/openflights

[2017-08-04 20:37] Marak commented on #523
Let me know what you can figure out.

Will accept PR for this.

[2017-08-11 04:21] aadamsx opened #525 "Request: Social Security Number (SSN)"
Have a SSN option would be great.

[2017-08-11 04:24] Marak commented on #525
This would be `en_US` only?

Would you provide the full range, or have the option to get back specific numbers based on date or region?

Will accept a PR for this.

[2017-08-14 20:25] Jimmy02020 opened #526 "English support for paragraphs"
Using  version: "4.1.0" `faker.lorem.paragraphs()` generates the following non-English paragraph

I tried `faker.locale = 'en_US'` but still get the same language result.

Any idea how to get English paragraphs?

Thanks.

[2017-08-16 16:19] aadamsx opened #527 "importing faker object is ```false``` in Meteor"
I'm on Meteor ```1.5.1.```  I installed faker like so: ```$ meteor npm install --save faker```.

I attempt to import faker like so:

```import faker from 'faker'``` within Meteor's server side code:

When I debug, the faker object is just ```false```.  Any attempt to access sub-object, like address, are just ```undefined```.  What am I doing wrong?

[2017-08-17 13:32] DeanKamali opened #528 "Canadian Addresses"
Hi everyone,

I thought importing locale as follows should do the trick

`var faker = require('faker/locale/en_CA');`

[code]

I'm getting random "State", none Canadian, and Postal Codes

Thanks

[2017-08-17 20:10] Marak commented on #528
What?

[2017-08-27 14:26] gkatsanos opened #531 "Generating a word from a pre-defined words list?"
Is it possible to generate a word / string from a pre-defined list of strings we can provide?

[2017-08-27 15:44] gkatsanos opened #532 "Latitude and Longitude need parseFloat to be valid GeoJSON"
Hello, when using faker.address.longitude and faker.address.latitude(), the generated number is a String and needs to be parseFloat()-ed in order to be accepted from Mongo as a valid GeoJSON object. Is this accurate or am I doing something wrong?

[2017-08-27 17:50] Marak commented on #531
Yes.

[2017-08-27 17:50] #531 closed

[2017-08-27 20:02] gkatsanos commented on #531
Thank you for the fast and detailed answer.
For the people who will see this in the future, the way to do this is to use the random.array_element() method:
`faker.random.array_element(['train', 'bicycle', 'street'])`

[2017-09-03 17:30] #526 closed

[2017-09-04 20:39] focusaurus commented on #506
Maintainers, if we submit a PR, would you consider reviewing and merging if acceptable? If so, @LvZeeland I'd be available to work with you on a PR for this data type.

[2017-09-04 20:41] Marak commented on #506
Sounds good. PRs welcomed.

[2017-09-07 03:57] ClarenceL commented on #400
This needs to be added, for one project we wanted to generate sandbox Stripe accounts for our test server but Stripe even in sandbox mode requires valid zip codes. Generating a set of address fields that are valid at least by city, state, zip would be really great.

[2017-09-07 09:17] thomasspiesser commented on #449
It would be great if one could provide a list with e.g. blacklisted names to `faker.name.firstName({ blacklist: ['Adolf'] })`

[2017-09-08 00:28] Marak commented on #528
Okay, I can see you now edited your comment to better report the issue.

The locale data available for `en_CA` is [here](https://github.com/Marak/faker.js/tree/master/lib/locales/en_CA/address).

I see we have `zipeCode` and `state` data available for `en_CA`. I am not seeing `city` or `street`. Not sure what you else you would expect `country` to return.

Please feel free to improve the data in o

[2017-09-08 00:30] Marak commented on #532
@gkatsanos

I think this would mean a breaking change to the faker API.

Do you have any other examples of Longitude / Latitude in JavaScript? We could change the value to return a parseFloat, or make it an option.

To be clear, this works for you in Mongo if you manually call the parseFloat yourself?

[2017-09-08 01:21] Marak commented on #527
I have little ideas. I've never used Meteor.

I've heard Faker works in Meteor.

Any additional information would be appreciated.

[2017-09-08 01:35] Marak commented on #499
@joeyfigaro

Not sure what you mean by import here. The faker package contains data for a bunch of APIs as well as localities ( outside of `en` ). If you install the package, you will get all that data.

If you need to reduce your libraries size ( perhaps it's for the browser ), you'll probably want to only include a subset of this data. We've already got custom builds per locality, but not per me

[2017-09-08 01:35] Marak commented on #499
@evilebottnawi -

Sounds good, let us know what you can do.

[2017-09-08 01:36] Marak commented on #501
@minhchu -

What is the difference between a mobile phone number and a regular phone number?

[2017-09-08 01:37] Marak commented on #496
Could you open a Pull Request to fix this?

[2017-09-08 03:57] Marak commented on #491
Not sure that is something faker would do.

Feel free to open a pull request.

[2017-09-08 03:57] #491 closed

[2017-09-08 03:58] Marak commented on #483
#482 merged

[2017-09-08 03:58] #483 closed

[2017-09-08 04:09] Marak commented on #495
Woah, Tracery looks pretty cool. We have similar functionality in the `Faker.fake` method.

see: https://github.com/Marak/faker.js/blob/master/lib/fake.js

I'd be willing to explore the idea of making `Faker.fake` better, improving `company.bs` API, or maybe even taking in Tracery as a dependency.

Please poke around a bit and see how far away we are from having `Faker.fake` be able to what Tracer

[2017-09-08 04:39] Marak commented on #520
Related: https://github.com/Marak/faker.js/issues/495